<style>
    .btn-block+.btn-block {
        margin-top: 0 !important;
    }

    .table-spot_ids {
        min-height: 40px;
        line-height: 40px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <!--顶部提示开始-->
        <!--顶部提示结束-->
        <!--数据表开始-->
        <form name="form-builder" class="col-12 form_builder" method="post" action="/travel/writeoff/editguestPost.html"
            id="form-builder">
            <input type="hidden" name="id" value="{$writeoff.id}">

            <div class="row dd_input_group no-gutters " id="form_group_contract">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label "
                    for="contract">旅游合同</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="contract" name="contract" value=""
                        placeholder="请点击按钮上传或手动输入地址">
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_contract" class="uploader-list"></div>
                    <div id="filePicker_contract"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                    <a href="/static/admin/images/nopic.png" target="_blank">
                        <img class="image_preview_info" src="/static/admin/images/nopic.png" id="contract_preview">
                    </a>
                    <!--上传图片-->
                </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_contract', 'filePicker_contract', 'contract_preview', 'contract', false, 'jpg,png,gif,jpeg', '0');
            </script>


            <div class="row dd_input_group no-gutters " id="form_group_insurance">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label"
                    for="insurance">旅游保单</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="insurance" name="insurance" value=""
                        placeholder="请点击按钮上传或手动输入地址">
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_insurance" class="uploader-list"></div>
                    <div id="filePicker_insurance"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                    <a href="/static/admin/images/nopic.png" target="_blank">
                        <img class="image_preview_info" src="/static/admin/images/nopic.png" id="insurance_preview">
                    </a>
                    <!--上传图片-->
                </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_insurance', 'filePicker_insurance', 'insurance_preview', 'insurance', false, 'jpg,png,gif,jpeg,ico', '0');
            </script>
            <!---->

            <div class="row dd_input_group form-builder-submit no-gutters">
                <div
                    class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-1">
                    <button type="submit" class="btn btn-flat btn-primary hide">提 交</button> <button type="button"
                        class="btn btn-flat btn-default hide" onclick="javascript :history.back(-1)">返 回</button>
                </div>
            </div><!-- /.box -->
        </form>
        <!--底部提示-->
    </div>
</div>