<!--内容开始-->
<section class="content">
<!--顶部提示开始-->
<!--顶部提示结束-->
<div class="container-fluid">
<div class="row">
    <!--搜索区域开始-->
    <div class="col-12 search-collapse">
        <form id="search_form" name="search_form">
            <div class="select-list">
                <ul>
                    <li>
                        <label>名称：</label> 
                        <input type="text" id="search_name" name="name" value="" placeholder="请输入人员名称">
                    </li>
                    <li>
                        <label>状态：</label> <select id="search_status" name="status">
                            <option value="">
                                所有
                            </option>
                            <option value="1">
                                启用
                            </option>
                            <option value="0">
                                禁用
                            </option>
                        </select>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input class="hide" type="submit" name="btnSave" value="提交" onclick="$.table.search();return false;">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--搜索区域结束-->

    <div class="col-sm-12 select-table table-striped">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add();">
            <i class="fa fa-plus"></i> 新增       </a>
                    <a class="btn btn-primary single disabled" onclick="edit();">
            <i class="fa fa-edit"></i> 修改        </a>
                    <a class="btn btn-danger multiple disabled"  onclick="$.operate.removeAll()">
            <i class="fa fa-times"></i> 删除        </a>
                    <a class="btn btn-warning"  onclick="$.table.export()">
            <i class="fa fa-download"></i> 导出        </a>
        </div>
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
</div>
<script>
    $(function() {
        var options = {
            uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
            url           : "/travel/writeoff/user.html?getList=1",      // 请求后台的URL
            addUrl        : "/travel/writeoff/add.html",       // 新增的地址
            editUrl       : "/travel/writeoff/edit.html?id=__id__",      // 修改的地址
            bindUrl       : "/travel/writeoff/bind.html?id=__id__",      // 绑定小程序地址
            delUrl        : "/travel/writeoff/del.html",       // 删除的地址
            exportUrl     : "/travel/writeoff/export.html",    // 导出的地址
            sortUrl       : "/travel/writeoff/sort.html",      // 排序的地址
            sortName      : "id",         // 排序列名称
            sortOrder     : "desc",                 // 排序方式  asc 或者 desc
			pagination    : true,			// 是否进行分页
            parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
			clickToSelect : true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
            pageSize      : "10",         // 每页显示的行数
            layerOpen     : "1",        // 添加/编辑等页启用layer弹层加载
            emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
            fixedColumns  : true,                   // 是否启用固定列功能
            fixedLeft     : 0,          // 左侧固定列数
            fixedRight    : 1,         // 右侧固定列数
            columns: [
                {
                    //field: 'state',
                    checkbox: true,
					// 当某行包含checkbox_disabled时禁止选择
					formatter: function(value, row, index) {
						if(row.checkbox_disabled =='1'){
							 return {
								 disabled : true
							}
						 }
					}
                },
                {
                    field: 'id',
                    title: '编号',
                    sortable: true,
                },
                {
                    field: 'image',  
                    title: '头像', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        if ($.common.isNotEmpty(value)) {
                            return '<a href="' + value + '" target="_blank"><img class="image_preview" src="' + value + '"></a>';
                        }
                    }                                                                     
                },
                {
                    field: 'name',  
                    title: '姓名', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'mobile',
                    title: '电话', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'openid',  
                    title: '小程序openid', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        if (value == '') {
                            return '<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="bind(\'' + row.id + '\')"><i class="fa fa-edit"></i> 绑定微信</a>';
                        } else {
                            return row.openid;
                        }
                    }              
                },
                {
                    field: 'create_time',  
                    title: '创建时间', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        return changeDateFormat(value);
                    }
                },
                {
                    field: 'update_time',  
                    title: '更新时间', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        return changeDateFormat(value);
                    }
                },
                {
                    field: 'status',  
                    title: '状态', 
                    sortable: false,
                    formatter: function(value, row, index) {
                        if (value == 0) {
                            return '<i class="fa fa-toggle-off text-info fa-2x cursor_pointer" onclick="$.operate.state(\'' + row.id + '\',\'/travel/writeoff/state.html\')"></i>';
                        } else {
                            return '<i class="fa fa-toggle-on text-info fa-2x cursor_pointer" onclick="$.operate.state(\'' + row.id + '\',\'/travel/writeoff/state.html\')"></i>';
                        }
                    }
                },
                {
                    field: 'right_button',  
                    title: '操作', 
                    sortable: false,     
                    class : 'text-nowrap',
					formatter: function(value, row, index) {
						var actions = [];

						if('edit' == 'edit' || 'edit' == 'preview'){
                            if(''){
                                var url = '';
                                var reg = /__(.*?)__/g;
                                // 匹配ID和email，可能为任何的其他参数，但都是 __字段__ 格式
                                while (result = reg.exec(url)) {
                                    url = url.replace(result[0], row[result[1]]);
                                }
                                actions.push('<a class="btn btn-primary btn-xs" target="" href="'+url+'"><i class="fa fa-edit"></i> 编辑</a> ');
                            }else{
                                actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="edit(\'' + row.id + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                            }
						} else if ('edit' == 'delete'){
                            if(''){
                                var url = '';
                                var reg = /__(.*?)__/g;
                                // 匹配ID和email，可能为任何的其他参数，但都是 __字段__ 格式
                                while (result = reg.exec(url)) {
                                    url = url.replace(result[0], row[result[1]]);
                                }
                                actions.push('<a class="btn btn-primary btn-xs" target="" href="'+url+'"><i class="fa fa-edit"></i> 编辑</a> ');
                            }else{
                                actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                            }
						} else {
							var url = '';
							var reg = /__(.*?)__/g;
							// 匹配ID和email，可能为任何的其他参数，但都是 __字段__ 格式
							while (result = reg.exec(url)) {
								url = url.replace(result[0], row[result[1]]);
							}
							actions.push('<a class="btn btn-primary btn-xs" target="" href="'+url+'"><i class="fa fa-edit"></i> 编辑</a> ');
						}

						if('delete' == 'edit' || 'delete' == 'preview'){
                                actions.push('<a class="btn btn-danger btn-xs confirm" href="javascript:void(0)" onclick="edit(\'' + row.id + '\')"><i class="far fa-trash-alt"></i> 删除</a> ');
						} else if ('delete' == 'delete'){
                            if(''){
                                var url = '';
                                var reg = /__(.*?)__/g;
                                // 匹配ID和email，可能为任何的其他参数，但都是 __字段__ 格式
                                while (result = reg.exec(url)) {
                                    url = url.replace(result[0], row[result[1]]);
                                }
                                actions.push('<a class="btn btn-danger btn-xs confirm" target="" href="'+url+'"><i class="far fa-trash-alt"></i> 删除</a> ');
                            }else{
                                actions.push('<a class="btn btn-danger btn-xs confirm" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="far fa-trash-alt"></i> 删除</a> ');
                            }
						} else {
							var url = '';
							var reg = /__(.*?)__/g;
							// 匹配ID和email，可能为任何的其他参数，但都是 __字段__ 格式
							while (result = reg.exec(url)) {
								url = url.replace(result[0], row[result[1]]);
							}
							actions.push('<a class="btn btn-danger btn-xs confirm" target="" href="'+url+'"><i class="far fa-trash-alt"></i> 删除</a> ');
						}
                        return actions.join('');
					}
                },
            ]
        };
        $.table.init(options);
    });

    // 搜索
    function searchPre() {
        var data = {};
        $.table.search('', data);
    }

    // 重置搜索
    function resetPre() {
        $.form.reset();
    }
	//HTML反转义
	function HTMLDecode(text) {
		var temp = document.createElement("div");
		temp.innerHTML = text;
		var output = temp.innerText || temp.textContent;
		temp = null;
		return output;
	}

    // 添加商户
    function add(id) {
        var url = $.operate.addUrl(id)
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            // 弹窗打开要添加的地址
            $.modal.open("添加", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }

    // 编辑商户
    function edit(id) {
        var url = $.operate.editUrl(id)
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            // 弹窗打开要添加的地址
            $.modal.open("编辑", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }

    // 绑定小程序
    function bind(id) {
        var url = $.operate.bindUrl(id)
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            // 弹窗打开要添加的地址
            $.modal.open("编辑", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }
</script>

<!--bootstrap table end-->

<!--底部提示-->
</section>