<!--内容开始-->
<style>
    body {
        background-color: #f4f6f9;
    }

    .infobox {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    .p-30 {
        padding: 0 30px;
        height: 30px;
        line-height: 30px;
        min-width: 300px;
    }

    .steps {
        width: 100%;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .callout-box {
        border-radius: 0.25rem;
        box-shadow: 0 1px 3pxrgba(0, 0, 0, .12), 0 1px 2pxrgba(0, 0, 0, .24);
        background-color: #fff;
        border-left: 5px solid #117a8b;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .callout-box .callout.callout-info {
        border: none;
        box-shadow: none;
        display: none;
        margin: 0;
        padding: 15px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d8d8d8;
    }

    .callout.callout-info .right {
        font-size: 12px;
        color: #204d74;
        cursor: pointer;
    }
</style>