<style>
    .imgClass{
        width: 100%;
        height: 100%;
        height: 38px;

    }
    .imgClass img{
        height: 100%;
    }
</style>
<!--内容开始-->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--数据表开始-->
            <form name="form-builder" class="col-12 form_builder" method="post">
                <div class="row dd_input_group no-gutters " id="form_group_id">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label"
                           for="users_name">编号</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="id" name="id" value="{$detail.id}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_issue_coupon_class_id">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label"
                           for="users_name">消费券种类</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="issue_coupon_class_id" name="issue_coupon_class_id" value="{$couponClassArr[$detail.issue_coupon_class_id]}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_coupon_title">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label"
                           for="users_name">消费券名称</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="coupon_title" name="coupon_title" value="{$detail.coupon_title}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_users_name">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label"
                           for="users_name">领取人</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="users_name" name="users_name" value="{$detail.users.name}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_create_time">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label"
                           for="users_name">领取时间</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="create_time" name="create_time" value="{$detail.create_time}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_delivery_user">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label is-required"
                           for="users_name">收货人</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="delivery_user" name="delivery_user" value="{$detail.delivery_user}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_delivery_phone">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label is-required"
                           for="users_name">收货手机号</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="delivery_phone" name="delivery_phone" value="{$detail.delivery_phone}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_delivery_address">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label is-required"
                           for="users_name">收货地址</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="text" id="delivery_address" name="delivery_address" value="{$detail.delivery_address}" disabled>
                    </div>
                </div>
                <div class="row dd_input_group no-gutters " id="form_group_tracking_number">
                    <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 dd_input_l col-form-label is-required"
                           for="mark_num">快递单号</label>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <span style="color: red">注:顺丰请输入运单号: 收货手机号后四位。例如：123456789:1234</span>
                        <input class="form-control" type="text" id="tracking_number" name="tracking_number" value="" placeholder="请输入快递单号">
                    </div>
                </div>

                <!---->
                <div class="row dd_input_group form-builder-submit no-gutters">
                    <div
                            class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-1">
                        <button type="submit" class="btn btn-flat btn-primary hide">提 交</button>
                        <button type="button" class="btn btn-flat btn-default hide"
                                onclick="javascript :history.back(-1)">返 回</button>
                    </div>
                </div>
            </form>
            <!--底部提示-->
        </div>
    </div>
</section>
<!--内容结束-->