{// css}
{include file="accounting/css"/}
<section class="content">
    <div class="container-fluid" style="padding: 20px 0">
            <div class="callout callout-info">
                <h5>领取信息</h5>
                <div>
                    <div class="p-30">
                        领取人：{$detail.users.name}
                    </div>
                    <div class="p-30">
                        领取时间：{$detail.create_time}
                    </div>
                </div>
            </div>

            <div class="callout callout-info">
                <h5>消费券信息</h5>
                <div>
                    <div class="p-30">
                        名称：{$detail.coupon_title}
                    </div>
                </div>
            </div>

            <div class="callout callout-info">
                <div class="row dd_input_group form-builder-submit no-gutters" style="width: 300px;">
                    <button type="button" class="btn btn-flat btn-default" onclick="back()">返
                        回</button>
                </div>
            </div>
        </div>
</section>
<script>
    function back() {
        var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
        parent.layer.close(index);//关闭窗口
    }
</script>
<!--内容结束-->