<!--内容开始-->
<section class="content">
<!--顶部提示开始-->
<!--顶部提示结束-->
<div class="container-fluid">
<div class="row">
    <!--搜索区域开始-->
    <div class="col-12 search-collapse">
        <form id="search_form" name="search_form">
            <div class="select-list">
                <ul>
                    <li>
                        <label>所属分类：</label> 
                        <select id="search_class_id" name="class_id">
                            <option value="">
                                所有
                            </option>
                            {volist name="class_list" id="item"}
                                <option value="{$item.id}">
                                {$item.class_name}
                                </option>
                            {/volist}
                        </select>
                    </li>
                    <li>
                        <label>所属区域：</label> 
                        <select id="search_area" name="area">
                            <option value="">
                                所有
                            </option>
                            <option value="1">榆阳区</option>
                            <option value="2">横山区</option>
                            <option value="3">神木市</option>
                            <option value="4">府谷县</option>
                            <option value="5">靖边县</option>
                            <option value="6">定边县</option>
                            <option value="7">绥德县</option>
                            <option value="8">米脂县</option>
                            <option value="9">佳县</option>
                            <option value="10">吴堡县</option>
                            <option value="11">清涧县</option>
                            <option value="12">子洲县</option>
                        </select>
                    </li>
                    <li>
                        <label>商户名称：</label> 
                        <input type="text" id="search_nickname" name="nickname" value="">
                    </li>
                    <li>
                        <label>状态：</label> <select id="search_status" name="status">
                            <option value="">所有</option>
                            <option value="0">禁用账户</option>
                            <option value="1">启用账户</option>
                            <option value="2">审核中</option>
                            <option value="3">审核失败</option>
                        </select>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input class="hide" type="submit" name="btnSave" value="提交" onclick="$.table.search();return false;">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--搜索区域结束-->

    <div class="col-sm-12 select-table table-striped">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="addSeller();">
            <i class="fa fa-plus"></i> 新增       </a>
                    <a class="btn btn-primary single disabled" onclick="editSeller();">
            <i class="fa fa-edit"></i> 修改        </a>
                    <a class="btn btn-danger multiple disabled"  onclick="$.operate.removeAll()">
            <i class="fa fa-times"></i> 删除        </a>
                    <!-- <a class="btn btn-warning"  onclick="$.table.export()">
            <i class="fa fa-download"></i> 导出        </a> -->
        </div>
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
</div>
<script>
    $(function() {
        var options = {
            uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
            url           : "/admin/Seller/index.html?getList=1",      // 请求后台的URL
            addUrl        : "/admin/Seller/addSeller.html",       // 新增的地址
            editUrl       : "/admin/Seller/editSeller.html?id=__id__",      // 修改的地址
            delUrl        : "/admin/Seller/del.html",       // 删除的地址
            exportUrl     : "/admin/Seller/export.html",    // 导出的地址
            sortUrl       : "/admin/Seller/sort.html",      // 排序的地址
            sortName      : "id",         // 排序列名称
            sortOrder     : "desc",                 // 排序方式  asc 或者 desc
			pagination    : true,			// 是否进行分页
            parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
			clickToSelect : true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
            pageSize      : "10",         // 每页显示的行数
            layerOpen     : "1",        // 添加/审核等页启用layer弹层加载
            emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
            fixedColumns  : true,                   // 是否启用固定列功能
            fixedLeft     : 0,          // 左侧固定列数
            fixedRight    : 1,         // 右侧固定列数
            columns: [
                {
                    //field: 'state',
                    checkbox: true,
					// 当某行包含checkbox_disabled时禁止选择
					formatter: function(value, row, index) {
						if(row.checkbox_disabled =='1'){
							 return {
								 disabled : true
							}
						 }
					}
                },
                {
                    field: 'id',
                    title: '编号',
                    sortable: true,
                },
                {
                    field: 'class_id',  
                    title: '所属分类', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return row.class_id;
                    }                                                                       
                },
                {
                    field: 'area',  
                    title: '所属区域', 
                    sortable: true                                                                      
                },
                {
                    field: 'image',  
                    title: '头像', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        if ($.common.isNotEmpty(value)) {
                            return '<a href="' + value + '" target="_blank"><img class="image_preview" src="' + value + '"></a>';
                        }
                    }                                                                     
                },
                {
                    field: 'nickname',  
                    title: '商户名称', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'username',  
                    title: '登录账号', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'loginnum',  
                    title: '登录次数', 
                    sortable: true,               
                },
                {
                    field: 'last_login_time',  
                    title: '最后登录时间', 
                    sortable: true,               
                },
                {
                    field: 'create_time',  
                    title: '创建时间', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        return changeDateFormat(value);
                    }
                },
                {
                    field: 'update_time',  
                    title: '更新时间', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        return changeDateFormat(value);
                    }
                },
                {
                    field: 'status',  
                    title: '启用禁用', 
                    sortable: false,
                    formatter: function(value, row, index) {
                        if (value == 0) {
                            return '<i class="fa fa-toggle-off text-info fa-2x cursor_pointer" onclick="$.operate.state(\'' + row.id + '\',\'/admin/Seller/state.html\')"></i>';
                        } else if(value ==1) {
                            return '<i class="fa fa-toggle-on text-info fa-2x cursor_pointer" onclick="$.operate.state(\'' + row.id + '\',\'/admin/Seller/state.html\')"></i>';
                        }else{
                            return '账号初始化中';
                        }
                    }
                },
                {
                    field: 'status',  
                    title: '状态', 
                    sortable: false,
                    formatter: function(value, row, index) {
                        switch (value) {
                            case 0:
                                return '账户已被禁用';
                                break;
                            case '1':
                                return '账户正常使用';
                                break;
                            case '2':
                                return '审核中';
                                break;
                            case '3':
                                return '审核不通过';
                                break;
                            case '4':
                                return '修改资料中';
                                break;
                            default:
                                // code...
                                break;
                        }
                    }
                },
                {
                    field: 'right_button',  
                    title: '操作', 
                    sortable: false,     
                    class : 'text-nowrap',
					formatter: function(value, row, index) {
						var actions = [];
                        actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="see(\'' + row.id + '\')"><i class="fa fa-search"></i> 查看</a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="editSeller(\'' + row.id + '\')"><i class="fa fa-edit"></i> 修改</a> ');
                        actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="checkSeller(\'' + row.id + '\')"><i class="fa fa-edit"></i> 审核</a> ');
						actions.push('<a class="btn btn-danger btn-xs confirm" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="far fa-trash-alt"></i> 删除</a> ');
                        return actions.join('');
					}
                },
            ]
        };
        $.table.init(options);
    });

    // 搜索
    function searchPre() {
        var data = {};
        $.table.search('', data);
    }

    // 重置搜索
    function resetPre() {
        $.form.reset();
    }
	//HTML反转义
	function HTMLDecode(text) {
		var temp = document.createElement("div");
		temp.innerHTML = text;
		var output = temp.innerText || temp.textContent;
		temp = null;
		return output;
	}

    // 添加商户
    function addSeller(id) {
        var url = $.operate.addUrl(id)
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            // 弹窗打开要添加的地址
            $.modal.open("添加", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }

    // 修改商户
    function editSeller(id) {
        var url = $.operate.editUrl(id)
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            // 弹窗打开要添加的地址
            $.modal.open("修改", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }
    // 审核商户
    function checkSeller(id) {
        var url = "/admin/Seller/check.html?id="+id;
        $.common.jump(url);
    }
    // 查看商户详情
    function see(id) {
        var url = "/admin/Seller/see.html?id="+id;
        $.common.jump(url);
    }
</script>

<!--bootstrap table end-->

<!--底部提示-->
</section>