<!--内容开始-->
<section class="content">
<div class="container-fluid">
    <div class="row">
                
    <!--顶部提示开始-->
    <!--顶部提示结束-->
    <!--数据表开始-->
        <form name="form-builder" class="col-12 form_builder" method="post" action="/travel/Seller/addPost.html" >
            <div class="row dd_input_group no-gutters " id="form_group_nickname">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="nickname">结构名称</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="nickname" name="nickname" value="" placeholder="请输入商户名称" >
                </div>
            </div>

            <!-- <div class="row dd_input_group no-gutters " id="form_group_email">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="email">邮箱：</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="email" name="email" value="" placeholder="请输入邮箱" >
                </div>
                <small class="text-muted">
                    <i class="fa fa-info-circle"></i> 无需验证
                </small>
            </div> -->
            
           <!-- <div class="row dd_input_group no-gutters " id="form_group_class_id">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="class_id">所属分类</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                <select class="form-control" id="class_id" name="class_id" >
                    <option value="">请选择</option>
                    {volist name="class_list" id="item"}
                        <option value="{$item.id}">
                        {$item.class_name}
                        </option>
                    {/volist}
                </select>
            </div>
            </div> -->

            <!-- <div class="row dd_input_group no-gutters " id="form_group_area">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="area">所属区域</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                <select class="form-control" id="area" name="area" >
                    <option value="">请选择</option>
                    {volist name="areaClass" key="k" id="item"}
                        <option value="{$k}">
                            {$item}
                        </option>
                    {/volist}
                </select>
            </div>
            </div> -->

            <!-- <div class="row dd_input_group no-gutters " id="form_group_username">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="username">登录账号</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="username" name="username" value="" placeholder="请输入登录账号" >
                </div>
            </div>

            <div class="row dd_input_group no-gutters " id="form_group_password">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="password">登录密码</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                <input class="form-control" type="password" id="password" name="password" value="" placeholder="请输入登录密码" >
            </div>
            </div> -->

            <!-- <div class="row dd_input_group no-gutters " id="form_group_image">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="image">LOGO图标</label>
            <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                <input class="form-control" type="text" id="image" name="image" value="" placeholder="请点击按钮上传或手动输入地址" >
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                <div id="fileList_image" class="uploader-list"></div>
                <div id="filePicker_image"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                <a href="/static/admin/images/nopic.png" target="_blank">
                    <img class="image_preview_info"
                         src="/static/admin/images/nopic.png"
                         id="image_preview">
                </a>
            </div>
        </div>
        <script type="text/javascript">
            webupload('fileList_image', 'filePicker_image', 'image_preview', 'image', false, 'jpg,png,gif,jpeg,ico', '0');
        </script> -->

            <div class="row dd_input_group no-gutters " id="form_group_name">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="name">联系人</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="name" name="name" value=""
                        placeholder="请输入联系人">
                </div>
            </div>

            <div class="row dd_input_group no-gutters " id="form_group_mobile">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="mobile">电话</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                            <input class="form-control" type="text" id="mobile" name="mobile" value="" placeholder="请输入电话" >
                        </div>
            </div>

            <!-- <div class="row dd_input_group no-gutters " id="form_group_do_business_time">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="do_business_time">营业时间</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                <div class="input-group date">
                    <input class="form-control" type="text" id="do_business_time" name="do_business_time" value="" placeholder="请选择或输入营业时间"
                           autocomplete="off">
                </div>
            </div>
            </div> -->

            <div class="row dd_input_group no-gutters " id="form_group_address">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="address">机构位置</label>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="address" name="address" value="" placeholder="请输入机构位置" >
                </div>
                <a class="btn btn-success btn-xs" style="width:200px;display: flex;align-items: center;justify-content: center;" href="javascript:;" onclick="getAmap();">点击选择区域</a>
            </div>

            <div class="row dd_input_group no-gutters " id="form_group_latitude">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label " for="longitude">经度</label>
                <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="longitude" name="longitude" value="0">
                </div>
            </div>
            <div class="row dd_input_group no-gutters " id="form_group_latitude">
                <label class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 dd_input_l col-form-label " for="latitude">纬度</label>
                <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="latitude" name="latitude" value="0">
                </div>
            </div>
            <!-- <div class="row dd_input_group no-gutters " id="form_group_credit_code">
                <label class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 dd_input_l col-form-label is-required" for="credit_code">社会信用代码</label>
                <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="credit_code" name="credit_code" value=""  placeholder="请输入统一社会信用代码">
                </div>
            </div>
            <div class="row dd_input_group no-gutters " id="form_group_cart_number">
                <label class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 dd_input_l col-form-label is-required" for="cart_number">收款账号</label>
                <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="cart_number" name="cart_number" placeholder="请输入银行卡账号">
                </div>
            </div>
            <div class="row dd_input_group no-gutters " id="form_group_card_name">
                <label class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 dd_input_l col-form-label is-required" for="card_name">收款名称</label>
                <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="card_name" name="card_name" placeholder="请输入收款名称">
                </div>
            </div>
            <div class="row dd_input_group no-gutters " id="form_group_card_deposit">
                <label class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 dd_input_l col-form-label is-required" for="card_deposit">开户行</label>
                <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="card_deposit" name="card_deposit" placeholder="请输入开户行">
                </div>
            </div> -->

            <!-- <div class="row dd_input_group no-gutters " id="form_group_business_license">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="business_license">营业执照地址</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="business_license" name="business_license" value="" placeholder="请点击按钮上传或手动输入地址" >
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <div id="fileList_business_license" class="uploader-list"></div>
                    <div id="filePicker_business_license"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                    <a href="/static/admin/images/nopic.png" target="_blank">
                        <img class="image_preview_info"
                             src="/static/admin/images/nopic.png"
                             id="business_license_preview">
                    </a>
                        </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_business_license', 'filePicker_business_license', 'business_license_preview', 'business_license', false, 'jpg,png,gif,jpeg,ico', '0');
            </script> -->
                                                                                    
            <!-- <div class="row dd_input_group no-gutters " id="form_group_permit_foroperation">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label " for="permit_foroperation">经营许可证</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                <input class="form-control" type="text" id="permit_foroperation" name="permit_foroperation" value="" placeholder="请点击按钮上传或手动输入地址" >
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                <div id="fileList_permit_foroperation" class="uploader-list"></div>
                <div id="filePicker_permit_foroperation"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                <a href="/static/admin/images/nopic.png" target="_blank">
                    <img class="image_preview_info"
                src="/static/admin/images/nopic.png"
                id="permit_foroperation_preview">
                </a>
                </div>
            </div>
            <script type="text/javascript">
            webupload('fileList_permit_foroperation', 'filePicker_permit_foroperation', 'permit_foroperation_preview', 'permit_foroperation', false, 'jpg,png,gif,jpeg,ico', '0');
            </script> -->
                                                                                    
            <!-- <div class="row dd_input_group no-gutters " id="form_group_social_liability_insurance">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label" for=" social_liability_insurance"> 社会责任险</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="social_liability_insurance" name="social_liability_insurance" value="" placeholder="请点击按钮上传或手动输入地址" >
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                <div id="fileList_social_liability_insurance" class="uploader-list"></div>
                <div id="filePicker_social_liability_insurance"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                <a href="/static/admin/images/nopic.png" target="_blank">
                    <img class="image_preview_info"
                         src="/static/admin/images/nopic.png"
                         id=" social_liability_insurance_preview">
                </a>
                </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_social_liability_insurance', 'filePicker_social_liability_insurance', 'social_liability_insurance_preview', 'social_liability_insurance', false, 'jpg,png,gif,jpeg,ico', '0');
            </script> -->

            <!-- <div class="row dd_input_group no-gutters " id="form_group_content">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="content">机构描述</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-8 col-xl-7">
                <textarea id="content" name="content"  style="width:100%;height: 400px"></textarea>
            </div>
            </div>
            <script>
                CKEDITOR.replace('content', {height: '400px'});
            </script> -->

            <!-- <div class="row dd_input_group no-gutters " id="form_group_status">
            <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="status">审核</label>
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4 dd_radio_lable_left border-white">
                <div class="icheck-peterriver icheck-inline">
                    <input type="radio" name="status" class="dd_radio" id="status1" value="1">
                    <label for="status1">通过审核</label>
                </div>
                <div class="icheck-peterriver icheck-inline">
                    <input type="radio" name="status" class="dd_radio" id="status3" value="3"  >
                    <label for="status3">拒绝通过</label>
                </div>
            </div>
            </div> -->
            <!---->
            <div class="row dd_input_group form-builder-submit no-gutters">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-1">
                    <button type="submit" class="btn btn-flat btn-primary hide">提 交</button>
                    <button type="button" class="btn btn-flat btn-default hide" onclick="javascript :history.back(-1)">返 回</button>
                </div>
            </div>
        </form>
    <!--底部提示-->
    </div>
</div>
</section>
<!--内容结束-->
<script>
    /***********************************地图窗口*****************************************/
    function getAmap(argument) {
        // 每次打开窗口前 删除本地存储的数据 避免造成资源占用
            layui.data('_coordinate_info_', {key: 'data',remove: true});
            var index = layer.open({
                title: '坐标拾取',
                type: 2,
                shade: 0.2,
                maxmin:false,
                shadeClose: false,  //禁用最大化，最小化按钮
                closeBtn: 1,        //不显示右上角关闭按钮
                area: ['100%', '80%'],
                content: './map.html',
                end: function(){
                    // 窗口关闭 获取所选的坐标 并赋值给对应的文本框
                    var _coordinate_info_ = layui.data('_coordinate_info_');
                    if(_coordinate_info_){
                        console.log(_coordinate_info_.data);
                        $('#longitude').val(_coordinate_info_.data.longitude);
                        $('#latitude').val(_coordinate_info_.data.latitude);
                        $('#address').val(_coordinate_info_.data.title);
                    }
                    return;
                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
    }
    /***********************************地图窗口*****************************************/
</script>