<!--内容开始-->
<section class="content">
<!--顶部提示开始-->
<!--顶部提示结束-->
<div class="container-fluid">
<div class="row">
    <!--搜索区域开始-->
    <div class="col-12 search-collapse">
        <form id="search_form" name="search_form">
            <!-- <div class="select-list">
                <ul>
                    <li>
                        <label>名称：</label> 
                        <input type="text" id="search_coupon_title" name="coupon_title" value="" placeholder="请输入消费券名称">
                    </li>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input class="hide" type="submit" name="btnSave" value="提交" onclick="$.table.search();return false;">
                    </li>
                </ul>
            </div> -->
        </form>
    </div>
    <!--搜索区域结束-->

    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
</div>
<script>
    $(function() {
        var options = {
            uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
            url           : "/seller/data/apply.html?getList=1",      // 请求后台的URL
            sortUrl       : "/seller/data/sort.html",      // 排序的地址
            sortName      : "id",         // 排序列名称
            sortOrder     : "desc",                 // 排序方式  asc 或者 desc
			pagination    : true,			// 是否进行分页
            parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
			clickToSelect : true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
            pageSize      : "10",         // 每页显示的行数
            layerOpen     : "1",        // 添加/编辑等页启用layer弹层加载
            emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
            fixedColumns  : true,                   // 是否启用固定列功能
            fixedLeft     : 0,          // 左侧固定列数
            fixedRight    : 1,         // 右侧固定列数
            columns: [
                {
                    //field: 'state',
                    checkbox: false,
					// 当某行包含checkbox_disabled时禁止选择
					formatter: function(value, row, index) {
						if(row.checkbox_disabled =='1'){
							 return {
								 disabled : true
							}
						 }
					}
                },
                {
                    field: 'id',
                    title: '申请编号',
                    sortable: true,
                },
                {
                    field: 'sum_coupon_price',  
                    title: '申请核算金额', 
                    sortable: false,                                                           
                },
                {
                    field: 'writeoff_total',  
                    title: '核算记录数', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'card_name',
                    title: '收款账号', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'card_deposit',  
                    title: '开户行', 
                    sortable: true         
                },
                {
                    field: 'cart_number',  
                    title: '卡号', 
                    sortable: false
                },
                {
                    field: 'tags',  
                    title: '结算类型', 
                    sortable: false,
                    formatter: function (value, row, index) {
                        switch (Number(value)) {
                            case 0:
                                return '<span class="badge badge-primary">散客</span>';
                                break;
                            case 1:
                                return '<span class="badge badge-success">团体</span>';
                                break;
                            default:
                                // code...
                                break;
                        }
                    }
                },
                {
                        field: 'status',
                        title: '平台审核',
                        sortable: false,
                        formatter: function (value, row, index) {
                            switch (Number(value)) {
                                case 0:
                                    return '<span class="badge badge-primary">待上传资料</span>';
                                    break;
                                case 1:
                                    return '<span class="badge badge-success">通过</span>';
                                    break;
                                case 2:
                                    return '<span class="badge badge-danger">未通过</span>';
                                    break;
                                case 3:
                                    return '<span class="badge badge-primary">待审核</span>';
                                    break;
                                default:
                                    // code...
                                    break;
                            }
                        }
                    },
                    {
                        field: 'tour_status',
                        title: '文旅局审核',
                        sortable: false,
                        formatter: function (value, row, index) {
                            switch (Number(value)) {
                                case 0:
                                    return '<span class="badge badge-primary">待审核</span>';
                                    break;
                                case 1:
                                    return '<span class="badge badge-success">通过</span>';
                                    break;
                                case 2:
                                    return '<span class="badge badge-danger">未通过</span>';
                                    break;
                                default:
                                    // code...
                                    break;
                            }
                        }
                    },
                    /*{
                        field: 'sup_status',
                        title: '财政局审核',
                        sortable: false,
                        formatter: function (value, row, index) {
                            switch (Number(value)) {
                                case 0:
                                    return '<span class="badge badge-primary">待审核</span>';
                                    break;
                                case 1:
                                    return '<span class="badge badge-success">通过</span>';
                                    break;
                                case 2:
                                    return '<span class="badge badge-danger">未通过</span>';
                                    break;
                                default:
                                    // code...
                                    break;
                            }
                        }
                    },
                    {
                        field: 'back_status',
                        title: '银行打款',
                        sortable: false,
                        formatter: function (value, row, index) {
                            switch (Number(value)) {
                                case 0:
                                    return '<span class="badge badge-primary">待付款</span>';
                                    break;
                                case 1:
                                    return '<span class="badge badge-success">已付款</span>';
                                    break;
                                case 2:
                                    return '<span class="badge badge-danger">拒绝付款</span>';
                                    break;
                                default:
                                    // code...
                                    break;
                            }
                        }
                    },*/
                {
                    field: 'right_button',  
                    title: '操作', 
                    sortable: false,     
                    class : 'text-nowrap',
					formatter: function(value, row, index) {
						var actions = [];
						var url = '/seller/data/show.html?id='+row.id;
                        if(row.status!=0){
                            actions.push('<a class="btn btn-danger btn-xs confirm" target="" href="'+url+'"><i class="far fa-arrow-alt-circle-up"></i> 查看</a> ');
                        }
						if(row.status==0){
                            actions.push('<a class="btn btn-danger btn-xs confirm" target="" href="'+url+'"><i class="far fa-arrow-alt-circle-up"></i> 上传附件</a> ');
                        }
                        // 2023-03-20 重新生成文件
                        if(row.is_files_exits==1){
                            actions.push('<a class="btn btn-success btn-xs confirm" target="downloadFile" href="'+row.data_detail+'?response-content-type=application/octet-stream" download><i class="far fa-arrow-alt-circle-down"></i> 下载审核明细</a> ');
                        }else{
                            actions.push('<a class="btn btn-danger btn-xs confirm"  href="javascript:void(0)" onclick="remake(\'' + row.id + '\')"><i class="far fa-arrow-alt-circle-up"></i> 重新生成文件</a> ');
                        }
                        return actions.join('');
					}
                },
            ]
        };
        $.table.init(options);
    });

    // 搜索
    function searchPre() {
        var data = {};
        $.table.search('', data);
    }

    // 重置搜索
    function resetPre() {
        $.form.reset();
    }
	//HTML反转义
	function HTMLDecode(text) {
		var temp = document.createElement("div");
		temp.innerHTML = text;
		var output = temp.innerText || temp.textContent;
		temp = null;
		return output;
	}
    // 2023-03-20 重新生成PDF
    function remake(id)
    {
        layer.msg('生成中请耐心等待。请勿刷新页面...',{icon: 16,time: 100000,shade : [0.5 , '#000' , true]});
        $.ajax({
            type: "post",
            url: "/api/system/remake",
            data: {
                id:id,
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    layer.alert(data.msg, {
                        icon: 2
                    }, function (index) {
                        layer.close(index);
                    });
                }
                if(data.code == 0) {

                    setTimeout(function(){
                       window.location.reload(); 
                    }, 3000);
                    layer.alert(data.msg, {
                        icon: 1
                    });
                }
            },
            error: function (xhr) {

            }
        });
    }
</script>

<!--bootstrap table end-->

<!--底部提示-->
</section>