<div class="callout callout-info">
    <style>
        .btn-secondary{
            display: none;
        }
    </style>
            <h5></i>
                申请核销记录
            </h5>
            <!--申请核算的详细数据-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
            <script>
                $(function() {
                    var options = {
                        uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
                        url           : "/admin/tour_accounting/write_off_ids.html?id={$accounting.write_off_ids}",      // 请求后台的URL
                        sortName      : "id",         // 排序列名称
                        sortOrder     : "desc",                 // 排序方式  asc 或者 desc
                        pagination    : true,           // 是否进行分页
                        parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
                        clickToSelect : true,                   // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
                        pageSize      : "10",         // 每页显示的行数
                        layerOpen     : "1",        // 添加/编辑等页启用layer弹层加载
                        emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
                        fixedColumns  : true,                   // 是否启用固定列功能
                        fixedLeft     : 0,          // 左侧固定列数
                        fixedRight    : 1,         // 右侧固定列数
                        showRefresh   : false,  //显示刷新按钮
                        showColumns   : false,  //显示隐藏列
                        showFullscreen: false,  //全屏
                        showToggle    : false,  //切换显示方式
                        columns: [
                            {
                                field: 'id',
                                title: '编号',
                                sortable: true,
                            },
                            {
                                field: 'no',
                                title: '团号',
                                sortable: true,
                            },
                            {
                                field: 'name',  
                                title: '名称', 
                                sortable: true,
                                formatter: function(value, row, index) {
                                    return HTMLDecode(value);
                                }
                            },
                            {
                                field: 'term',
                                title: '团期', 
                                sortable: true,
                                formatter: function(value, row, index) {
                                    return HTMLDecode(value);
                                }
                            },
                            {
                                field: 'numbers',  
                                title: '人数', 
                                sortable: true,              
                            },
                            {
                                field: 'planner',  
                                title: '计调人', 
                                sortable: true,
                                formatter: function(value, row, index) {
                                    return HTMLDecode(value);
                                }
                            },
                            {
                                field: 'mobile',  
                                title: '电话', 
                                sortable: true,
                                formatter: function(value, row, index) {
                                    return HTMLDecode(value);
                                }
                            },
                            {
                                field: 'create_time',  
                                title: '创建时间', 
                                sortable: false,     
                                formatter: function(value, row, index) {
                                    return changeDateFormat(value);
                                }
                            },
                            {
                                field: 'update_time',  
                                title: '更新时间', 
                                sortable: false,     
                                formatter: function(value, row, index) {
                                    return changeDateFormat(value);
                                }
                            },
                            {
                                field: 'right_button',  
                                title: '操作', 
                                sortable: false,     
                                class : 'text-nowrap',
                                formatter: function(value, row, index) {
                                    var actions = [];
                                    actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="add(\'' + row.id + '\',1)"><i class="fa fa-edit"></i> 查看详情</a> ');
                                    actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="add(\'' + row.id + '\',2)"><i class="fa fa-edit"></i> 查看游客</a> ');
                                    actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="receive(\'' + row.id + '\',2)"><i class="fa fa-gift"></i> 查看消费券</a> ');
                                    actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="over(\'' + row.id + '\')"><i class="fa fa-search"></i> 查看打卡记录</a> ');
                                    actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="photos(\'' + row.id + '\')"><i class="fa fa-search"></i> 查看合影&发票</a> ');
                                    return actions.join('');
                                }
                            },
                        ]
                    };
                    $.table.init(options);
                });

                // 搜索
                function searchPre() {
                    var data = {};
                    $.table.search('', data);
                }

                // 重置搜索
                function resetPre() {
                    $.form.reset();
                }
                //HTML反转义
                function HTMLDecode(text) {
                    var temp = document.createElement("div");
                    temp.innerHTML = text;
                    var output = temp.innerText || temp.textContent;
                    temp = null;
                    return output;
                }

                // 查看游客 & 导游信息
                function add(id,tags) {
                    var url = '/admin/tour_accounting/tourinfo?tid='+id+'&tags='+tags;
                    if ($.table._option.layerOpen == "1") {
                        // 通过参数隐藏左侧和顶部等数据
                        if (url.indexOf('?') != -1) {
                            url = url + '&_layer=1'
                        } else {
                            url = url + '?_layer=1'
                        }
                        // 弹窗打开要添加的地址
                        $.common.jump(url);
                        //$.modal.openFull(msg+"管理", url);
                    } else {
                        // 当前窗口打开要添加的地址
                        $.common.jump(url);
                    }
                }
                // 查看消费券
                function receive(id) {
                    var url = '/admin/tour_accounting/couponinfo?id='+id;
                    if ($.table._option.layerOpen == "1") {
                        // 通过参数隐藏左侧和顶部等数据
                        if (url.indexOf('?') != -1) {
                            url = url + '&_layer=1'
                        } else {
                            url = url + '?_layer=1'
                        }
                        // 弹窗打开要添加的地址
                        $.common.jump(url);
                        //$.modal.openFull(msg+"管理", url);
                    } else {
                        // 当前窗口打开要添加的地址
                        $.common.jump(url);
                    }
                }

                // 查看打卡记录
                function over(id) {
                    var url = '/admin/tour_accounting/overlisthotel?id='+id;
                    if ($.table._option.layerOpen == "1") {
                        // 通过参数隐藏左侧和顶部等数据
                        if (url.indexOf('?') != -1) {
                            url = url + '&_layer=1'
                        } else {
                            url = url + '?_layer=1'
                        }
                        // 弹窗打开要添加的地址
                        $.common.jump(url);
                        //$.modal.openFull(msg+"管理", url);
                    } else {
                        // 当前窗口打开要添加的地址
                        $.common.jump(url);
                    }
                }

                // 查看合影发票
                function photos(id){
                    var url = '/admin/tour_accounting/photos?id='+id;
                    if ($.table._option.layerOpen == "1") {
                        // 通过参数隐藏左侧和顶部等数据
                        if (url.indexOf('?') != -1) {
                            url = url + '&_layer=1'
                        } else {
                            url = url + '?_layer=1'
                        }
                        // 弹窗打开要添加的地址
                        $.common.jump(url);
                        //$.modal.openFull(msg+"管理", url);
                    } else {
                        // 当前窗口打开要添加的地址
                        $.common.jump(url);
                    }
                }
            </script>
            <!--申请核算的详细数据-->
        </div>