html
{
    background-color:#f2f2f2;
}

.daohang
{
    border-top:1px solid #f6f6f6;
    height:50px;
    line-height:50px;
    margin-bottom:0;
    border-radius:0;
    background-color:#fff;
    padding:0 15px;
}

.layui-nav-item .layui-icon
{
    margin-right:10px;
}

.layui-nav-child a
{
    padding:0 20px 0 40px !important;
}

.layui-fluid
{
    padding:15px!important;
}

.login
{
    background-color:#1E9FFF;
    width: 100%;
}
.forget{
    height: 44px !important;
}

.login-logo {
    width: 800px;
    margin: auto;
    height: 70px;
    background-image: url(/static/admin/images/logo-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.login-title{
    width: 100%;
    text-align: center;
    color: #a5c1ff;
    font-size: 14px;
    margin-bottom: 50px;
}

#LAY_app,body,html
{
    height:100%;
}

.layui-layout-body
{
    overflow:auto;
}

#LAY-user-login,.layadmin-user-display-show
{
    display:block!important;
}

.layadmin-user-login
{
    position:relative;
    left:0;
    top:0;
    box-sizing:border-box;
}

.layadmin-user-login-main
{
    max-width:524px;
    border-radius:4px;
    box-sizing:border-box;
    background-color:rgba(255,255,255,0.999);
    z-index:999;
    position:relative;
    margin:0 auto;
    padding:10px 0 0;
}

.layadmin-user-login-box
{
    padding:30px 90px;
}

.layadmin-user-login-header
{
    text-align:center;
    border-bottom:1px solid #ECEEF0;
    line-height:40px;
    padding:20px;
}

.layadmin-user-login-header h2
{
    font-size:30px;
    color:#333;
}

.layadmin-user-login-header p
{
    font-weight:300;
    color:#999;
}

.layadmin-user-login-body .layui-form-item
{
    position:relative;
}

.layadmin-user-login-icon
{
    position:absolute;
    left:1px;
    top:1px;
    width:48px;
    line-height:43px;
    text-align:center;
    color:#d2d2d2;
}

.layadmin-user-login-body .layui-form-item .layui-input
{
    padding-left:48px;
    height:45px;
    line-height:45px;
    background:#ECEEF0;
    border:0;
}

.layadmin-user-login-codeimg
{
    max-height:45px;
    width:100%;
    cursor:pointer;
    box-sizing:border-box;
}

.layadmin-user-login-other
{
    position:relative;
    font-size:0;
    line-height:38px;
    padding-top:20px;
}

.layadmin-user-login-other>*
{
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
    font-size:14px;
}

.layadmin-user-login-other .layui-icon
{
    position:relative;
    top:2px;
    font-size:26px;
}

.layadmin-user-login-other a:hover
{
    opacity:.8;
}

.layadmin-user-jump-change
{
    float:right;
}

.layadmin-user-login-footer
{
    left:0;
    bottom:0;
    width:100%;
    line-height:25px;
    text-align:center;
    box-sizing:border-box;
    color:rgba(0,0,0,.5);
    padding:10px 0 0;
}

.layadmin-user-login-footer span
{
    padding:0 5px;
}

.layadmin-user-login-footer a
{
    color:rgba(0,0,0,.5);
    padding:0 5px;
}

.layadmin-user-login-footer a:hover
{
    color:rgba(0,0,0,1);
}

.layadmin-user-login-main[bgimg]
{
    background-color:#fff;
    box-shadow:0 0 5px rgba(0,0,0,.05);
}

.ladmin-user-login-theme
{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
}

.ladmin-user-login-theme ul
{
    display:inline-block;
    background-color:#fff;
    padding:5px;
}

.ladmin-user-login-theme ul li
{
    display:inline-block;
    vertical-align:top;
    width:64px;
    height:43px;
    cursor:pointer;
    transition:all .3s;
    -webkit-transition:all .3s;
    background-color:#f2f2f2;
}

.ladmin-user-login-theme ul li:hover
{
    opacity:.9;
}

@media screen and max-width768px {
    .layadmin-user-login
    {
        padding-top:60px;
    }
    
    .layadmin-user-login-main
    {
        width:300px;
    }
    
    .layadmin-user-login-box
    {
        padding:10px;
    }
}

