<!--内容开始-->
<section class="content">
    <!--顶部提示开始-->
    <!--顶部提示结束-->
    <div class="container-fluid">
        <div class="row">
            <!--搜索区域开始-->
            <div class="col-12 search-collapse">
                <form id="search_form" name="search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>状态：</label>
                                <select class="order_status" name="status">
                                    <option value="">请选择</option>
                                    {foreach $status_list as $key=>$item}
                                    <option value="{$key}">{$item}</option>
                                    {/foreach}
                                </select>
                            </li>
                            <li>
                                <label>商户名称：</label>
                                <input type="text" name="seller_nickname" value="" placeholder="请输入商户名称">
                            </li>
                            <li>
                                <label>用户昵称：</label>
                                <input type="text" name="users_nickname" value="" placeholder="请输入用户昵称">
                            </li>
                            <li>
                                <label>IP：</label>
                                <input type="text" name="ip" value="" placeholder="请输入IP">
                            </li>
                            <li>
                                <label>评论日期：</label>
                                <input type="text" daterange="true" autocomplete="off" name="create_time_range" value="">
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input class="hide" type="submit" name="btnSave" value="提交" onclick="$.table.search();return false;">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--搜索区域结束-->
            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar" role="group">

                </div>
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            var options = {
                uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
                url           : "/admin/TicketComment/index.html",      // 请求后台的URL
                sortName      : "id",         // 排序列名称
                sortOrder     : "desc",                 // 排序方式  asc 或者 desc
                pagination    : true,			// 是否进行分页
                parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
                clickToSelect : true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
                pageSize      : "10",         // 每页显示的行数
                layerOpen     : "1",        // 添加/编辑等页启用layer弹层加载
                emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
                fixedColumns  : true,                   // 是否启用固定列功能
                fixedLeft     : 0,          // 左侧固定列数
                fixedRight    : 1,         // 右侧固定列数
                columns: [
                    {
                        field: 'id',
                        title: '编号',
                        sortable: true,
                        align:"center"
                    },
                    {
                        field: 'seller.nickname',
                        title: '所属商户'
                    },
                    {
                        field: 'users',
                        title: '用户信息',
                        formatter:function (value, row, index){
                            return `<a href="${row.users.headimgurl}" target="_blank"><img class="image_preview" src="${row.users.headimgurl}" /></a>${row.users.nickname}`;
                        }
                    },
                    {
                        field: 'rate',
                        title: '评分',
                        align:"center"
                    },
                    {
                        field: 'content',
                        title: '评论内容'
                    },
                    {
                        field: 'ip',
                        title: '评论IP',
                        align:"center"
                    },
                    {
                        field: 'create_time',
                        title: '评论时间',
                        sortable: true,
                        align:"center"
                    },
                    {
                        field: 'status_text',
                        title: '订单状态',
                        align:'center',
                    },
                    {
                        field: 'right_button',
                        title: '操作',
                        sortable: false,
                        class : 'text-nowrap',
                        formatter: function(value, row, index) {
                            var actions = [];
                            if(row.status == 0){
                                actions.push('<a class="btn btn-success btn-xs" target="" href="javascript:void(0)" onclick="$.operate.submit(\'/admin/TicketComment/audit.html\',\'post\',\'json\',{id:'+row.id+',status:1})">审核通过</a>');
                            }else{
                                actions.push('<a class="btn btn-danger btn-xs" target="" href="javascript:void(0)" onclick="$.operate.submit(\'/admin/TicketComment/audit.html\',\'post\',\'json\',{id:'+row.id+',status:0})">退审</a> ');
                            }
                            actions.push('<a style="margin-left:10px" class="btn btn-primary btn-xs" target="" href="javascript:void(0)" onclick="see(\'/admin/TicketComment/see.html?_layer=1&id='+row.id+'\')">查看</a> ');
                            return actions.join('');
                        }
                    },
                ]
            };
            $.table.init(options);
        });

        // 搜索
        function searchPre() {
            var data = {};
            $.table.search('', data);
        }

        // 重置搜索
        function resetPre() {
            $.form.reset();
        }
        //HTML反转义
        function HTMLDecode(text) {
            var temp = document.createElement("div");
            temp.innerHTML = text;
            var output = temp.innerText || temp.textContent;
            temp = null;
            return output;
        }

        function see(url) {

            let area  =  [];
            if (isMobile()) {
                area  =  [100 + '%', 100 + '%']
            } else {
                area  =  [900 + 'px', 700 + 'px']
            }
            var index = layer.open({
                type: 2,
                maxmin: true,
                shade: 0.3,
                title: '查看',
                fix: false,
                area: area,
                content: url,
                cancel: function () {
                    return true;
                }
            });
        }

        function isMobile() {
            let flag = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            return flag;
        };

    </script>

    <!--bootstrap table end-->

    <!--底部提示-->
</section>