<!--内容开始-->
<section class="content">
    <!--顶部提示开始-->
    <!--顶部提示结束-->
    <div class="container-fluid">
        <div class="row">
            <!--搜索区域开始-->
            <div class="col-12 search-collapse">
                <form id="search_form" name="search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>名称：</label>
                                <input type="text" id="search_name" name="name" value="" placeholder="请输入旅行团名称">
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a
                                    class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input
                                    class="hide" type="submit" name="btnSave" value="提交"
                                    onclick="$.table.search();return false;">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--搜索区域结束-->
            <input type="hidden" id="is_clock_switch" value="{$system.is_clock_switch}">
            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar" role="group">
                    <!-- <a class="btn btn-warning"  onclick="$.table.export()">
            <i class="fa fa-download"></i> 导出        </a> -->
                </div>
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var is_clock_switch = $('#is_clock_switch').val();
            var options = {
                uniqueId: "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
                url: "/travel/tour/agg.html?getList=1",      // 请求后台的URL
                addUrl: "/travel/tour/addInfo.html?id=__id__",      // 新增的地址
                exportUrl: "/travel/tour/export.html",    // 导出的地址
                sortUrl: "/travel/tour/sort.html",      // 排序的地址
                sortName: "id",         // 排序列名称
                sortOrder: "desc",       // 排序方式  asc 或者 desc
                pagination: true,			// 是否进行分页
                parentIdField: "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
                clickToSelect: true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
                pageSize: "10",         // 每页显示的行数
                layerOpen: "1",        // 添加/编辑等页启用layer弹层加载
                emptyTips: "没有找到匹配的记录",        // 空数据提示信息
                fixedColumns: true,                   // 是否启用固定列功能
                fixedLeft: 0,          // 左侧固定列数
                fixedRight: 1,         // 右侧固定列数
                columns: [
                    {
                        //field: 'state',
                        checkbox: true,
                        // 当某行包含checkbox_disabled时禁止选择
                        formatter: function (value, row, index) {
                            if (row.checkbox_disabled == '1') {
                                return {
                                    disabled: true
                                }
                            }
                        }
                    },
                    {
                        field: 'id',
                        title: '编号',
                        sortable: true,
                    },
                    {
                        field: 'no',
                        title: '团号',
                        sortable: true,
                    },
                    {
                        field: 'name',
                        title: '名称',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'team_type',
                        title: '团类型',
                        sortable: true
                    },
                    {
                        field: 'term',
                        title: '团期',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'numbers',
                        title: '人数',
                        sortable: true,
                    },
                    {
                        field: 'guide_name',
                        title: '导游姓名',
                        sortable: true,
                    },
                    {
                        field: 'planner',
                        title: '计调人',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'mobile',
                        title: '电话',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'create_time',
                        title: '创建时间',
                        sortable: false,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value);
                        }
                    },
                    {
                        field: 'status',
                        title: '状态',
                        sortable: false,
                        formatter: function (value, row, index) {
                            switch (Number(value)) {
                                case 1:
                                    return '<span class="badge badge-primary">审核中</span>';
                                    break;
                                case 2:
                                    return '<span class="badge badge-secondary">不通过</span>';
                                    break;
                                case 3:
                                    return '<span class="badge badge-success">通过</span>';
                                    break;
                                case 4:
                                    return '<span class="badge badge-danger">团确认</span>';
                                    break;
                                case 5:
                                    return '<span class="badge badge-secondary">团结束</span>';
                                    break;
                                case 6:
                                    return '<span class="badge badge-secondary">无效团</span>';
                                    break;
                                default:
                                    // code...
                                    break;
                            }
                        }
                    },
                    {
                        field: 'right_button',
                        title: '操作',
                        sortable: false,
                        class: 'text-nowrap',
                        formatter: function (value, row, index) {
                            var actions = [];
                            if (row.status == 6) {
                                return actions.join('');
                            }
                            actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="add(\'' + row.id + '\',2)"><i class="fa fa-edit"></i> 游客信息管理</a> ');
                            actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="add(\'' + row.id + '\',1)"><i class="fa fa-edit"></i> 导游信息管理</a> ');
                            if (row.status == 4) {
                                actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="receive(\'' + row.id + '\',2)"><i class="fa fa-gift"></i> 消费券领取</a> ');
                                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="over(\'' + row.id + '\')"><i class="fa fa-window-close"></i> 结束旅行团</a> ');
                                return actions.join('');
                            }
                            if (row.status == 5) {
                                /*actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="add(\'' + row.id + '\',1)"><i class="fa fa-edit"></i> 查看导游</a> ');
                                actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="add(\'' + row.id + '\',2)"><i class="fa fa-edit"></i> 查看游客</a> ');*/
                                actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="receive(\'' + row.id + '\',2)"><i class="fa fa-gift"></i> 查看消费券</a> ');
                                if (is_clock_switch == 1) {
                                    actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="overlist(\'' + row.id + '\')"><i class="fa fa-search"></i> 景区打卡记录</a> ');
                                }
                                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="overlisthotel(\'' + row.id + '\')"><i class="fa fa-search"></i> 酒店打卡记录</a> ');
                                actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="photos(\'' + row.id + '\')"><i class="fa fa-search"></i> 查看合影&发票</a> ');
                                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="over(\'' + row.id + '\',false)"><i class="fa fa-window-close"></i> 修改信息</a> ');
                                return actions.join('');
                            }
                        }
                    },
                ]
            };
            $.table.init(options);
        });

        // 查看合影发票
        function photos(id) {
            var url = '/travel/tour/photos?id=' + id;
            if ($.table._option.layerOpen == "1") {
                // 通过参数隐藏左侧和顶部等数据
                if (url.indexOf('?') != -1) {
                    url = url + '&_layer=1'
                } else {
                    url = url + '?_layer=1'
                }
                // 弹窗打开要添加的地址
                $.common.jump(url);
                //$.modal.openFull(msg+"管理", url);
            } else {
                // 当前窗口打开要添加的地址
                $.common.jump(url);
            }
        }

        // 搜索
        function searchPre() {
            var data = {};
            $.table.search('', data);
        }

        // 重置搜索
        function resetPre() {
            $.form.reset();
        }
        //HTML反转义
        function HTMLDecode(text) {
            var temp = document.createElement("div");
            temp.innerHTML = text;
            var output = temp.innerText || temp.textContent;
            temp = null;
            return output;
        }

        // 上传信息
        function add(id, tags) {
            var msg = tags == 1 ? '导游信息' : '游客信息';
            var url = $.operate.addUrl(id) + '&tags=' + tags;
            if ($.table._option.layerOpen == "1") {
                // 通过参数隐藏左侧和顶部等数据
                if (url.indexOf('?') != -1) {
                    url = url + '&_layer=1'
                } else {
                    url = url + '?_layer=1'
                }
                // 弹窗打开要添加的地址
                $.common.jump(url);
                //$.modal.openFull(msg+"管理", url);
            } else {
                // 当前窗口打开要添加的地址
                $.common.jump(url);
            }
        }
        // 消费券领取
        function receive(id) {
            var url = '/travel/tour/receive?id=' + id;
            if ($.table._option.layerOpen == "1") {
                // 通过参数隐藏左侧和顶部等数据
                if (url.indexOf('?') != -1) {
                    url = url + '&_layer=1'
                } else {
                    url = url + '?_layer=1'
                }
                // 弹窗打开要添加的地址
                $.common.jump(url);
                //$.modal.openFull(msg+"管理", url);
            } else {
                // 当前窗口打开要添加的地址
                $.common.jump(url);
            }
        }

        // 结束旅行团
        function over(id, is_confirm=true) {
            
            var url = '/travel/tour/overpage.html?id=' + id;
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }

            if (!is_confirm) {
                url = '/travel/tour/overpage_modif.html?id=' + id;
                $.modal.confirm(`您只能修改三次，确定修改吗？`, function (e) {
                     // 弹窗打开要添加的地址
                     $.modal.open("修改合影&发票", url, 800, 500);
                })
            }else{
                 // 弹窗打开要添加的地址
                $.modal.open("结束团操作", url, 800, 500);
            }
            return;

            var tid = $('#tid').val();
            var url = '/travel/tour/over.html';
            $.modal.confirm("确定要结束旅行团吗？操作不可逆！！", function () {
                var data = { "id": id };
                $.operate.submit(url, "post", "json", data);
            });
        }

        // 景区打卡记录
        function overlist(id) {
            var url = '/travel/tour/overlist?id=' + id;
            if ($.table._option.layerOpen == "1") {
                // 通过参数隐藏左侧和顶部等数据
                if (url.indexOf('?') != -1) {
                    url = url + '&_layer=1'
                } else {
                    url = url + '?_layer=1'
                }
                // 弹窗打开要添加的地址
                $.common.jump(url);
                //$.modal.openFull(msg+"管理", url);
            } else {
                // 当前窗口打开要添加的地址
                $.common.jump(url);
            }
        }
        // 酒店打卡记录
        function overlisthotel(id) {
            var url = '/travel/tour/overlisthotel?id=' + id;
            if ($.table._option.layerOpen == "1") {
                // 通过参数隐藏左侧和顶部等数据
                if (url.indexOf('?') != -1) {
                    url = url + '&_layer=1'
                } else {
                    url = url + '?_layer=1'
                }
                // 弹窗打开要添加的地址
                $.common.jump(url);
                //$.modal.openFull(msg+"管理", url);
            } else {
                // 当前窗口打开要添加的地址
                $.common.jump(url);
            }
        }
    </script>

    <!--bootstrap table end-->

    <!--底部提示-->
</section>