<!--内容开始-->
<section class="content">
    <!--顶部提示开始-->
    <!--顶部提示结束-->
    <div class="container-fluid">
        <div class="row">
            <!--搜索区域开始-->
            <div class="col-12 search-collapse">
                <form id="search_form" name="search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>消费券名称：</label>
                                <input type="text" id="search_coupon_title" name="coupon_title" value="">
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a
                                    class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input
                                    class="hide" type="submit" name="btnSave" value="提交"
                                    onclick="$.table.search();return false;">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--搜索区域结束-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
        <input id="selectedVal" type="hidden" />
    </div>
    <script>
        $(function () {
            var options = {
                uniqueId: "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
                url: "/travel/tour/list_tour.html?getList=1",      // 请求后台的URL
                sortName: "id",         // 排序列名称
                sortOrder: "desc",                 // 排序方式  asc 或者 desc
                pagination: false,			// 是否进行分页
                // parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
                clickToSelect: true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
                pageSize: "10",         // 每页显示的行数
                layerOpen: "1",        // 添加/编辑等页启用layer弹层加载
                emptyTips: "没有找到匹配的记录",        // 空数据提示信息
                fixedColumns: true,                   // 是否启用固定列功能
                fixedLeft: 0,          // 左侧固定列数
                fixedRight: 1,         // 右侧固定列数
                columns: [
                    {
                        //field: 'state',
                        radio: true,
                        // 当某行包含checkbox_disabled时禁止选择
                        formatter: function (value, row, index) {
                            if (row.checkbox_disabled == '1') {
                                return {
                                    disabled: true
                                }
                            }
                        }
                    },
                    {
                        field: 'id',
                        title: '编号',
                        sortable: true,
                    },
                  
                    {
                        field: 'cid',
                        title: '所属分类',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return row.cid;
                        }

                    },
                    {
                        field: 'coupon_title',
                        title: '消费券名称',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'coupon_price',
                        title: '消费券金额',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return value;
                        }
                    },


                    {
                        field: 'coupon_time_start',
                        title: '有效期',
                        sortable: false,
                        formatter: function (value, row, index) {
                            name = '';
                            if (row.is_permanent == 1) {
                                //永久有效
                                name = '永久有效'
                            } else if (row.is_permanent == 2) {
                                //时间段
                                name = `${changeDateFormat(value)} - ${changeDateFormat(row.coupon_time_end)}`;
                            } else {
                                //天数
                                name = `领取后${row.day}天有效`
                            }

                            return name;
                        }
                    },
                    {
                        field: 'limit_time',  
                        title: '发放时间', 
                        sortable: false,     
                        formatter: function(value, row, index) {
                            time = ''
                            if(value == 1){
                                // 限时间
                                time = `${row.start_time} - ${row.end_time}`;
                            }else{
                                time = '不限时';
                            }
                            return time
                        }
                    },
                    // {
                    //     field: 'update_time',
                    //     title: '更新时间',
                    //     sortable: false,
                    //     formatter: function (value, row, index) {
                    //         return changeDateFormat(value);
                    //     }
                    // }
                ]
            };
            $.table.init(options);
        });

        // 搜索
        function searchPre() {
            var data = {};
            $.table.search('', data);
        }

        // 重置搜索
        function resetPre() {
            $.form.reset();
        }
        //HTML反转义
        function HTMLDecode(text) {
            var temp = document.createElement("div");
            temp.innerHTML = text;
            var output = temp.innerText || temp.textContent;
            temp = null;
            return output;
        };
        let selectedArray = new Set();
        $('#bootstrap-table').on('uncheck.bs.table', function (e, row, $element) {
            // 取消选中
            $("#selected .item").each((index, item) => {
                const ids = Number($(item).children().find('i').attr("data-id"));
                if (row.id == ids) {
                    let idsarray = []; idsarray.push(ids);
                    $(item).remove();
                    selectedArray.delete(ids);
                    let arr = [...selectedArray];
                    $("#selectedVal").val(arr);
                }
            })
        });

        $('#bootstrap-table').on('check.bs.table', function (e, row, $element) {
            // 选中
            selectedArray.clear();            
            selectedArray.add(Number(row.id));
            let arr = [...selectedArray];
            $("#selectedVal").val(arr);
        });
    </script>

    <!--bootstrap table end-->

    <!--底部提示-->
</section>