<!--内容开始-->
<section class="content">
<!--顶部提示开始-->
<!--顶部提示结束-->
<div class="container-fluid">
<div class="row">
    <!--搜索区域开始-->
    <div class="col-12 search-collapse">
        <form id="search_form" name="search_form">
            <div class="select-list">
                <ul>
                    <li>
                        <label>渠道：</label>
                        <select name="channel">
                            <option value="">所有</option>
                            {foreach $channel_list as $key=>$item}
                            <option value="{$key}">{$item}</option>
                            {/foreach}
                        </select>
                    </li>
                    <li>
                        <label>支付状态：</label>
                        <select name="payment_status">
                            <option value="">所有</option>
                            {foreach $payment_status_list as $key=>$item}
                            <option value="{$key}">{$item}</option>
                            {/foreach}
                        </select>
                    </li>
                    <li>
                        <label>所属商户：</label>
                        <input type="text" name="seller_name" value="">
                    </li>
                    <li>
                        <label>购买人：</label> 
                        <input type="text" id="search_name" name="name" value="">
                    </li>
                    <li>
                        <label>购买旅行社：</label>
                        <input type="text" id="search_travel_name" name="travel_name" value="">
                    </li>
                    <li>
                        <label>订单状态：</label>
                        <select id="search_order_status" name="order_status">
                            <option value="">所有</option>
                            {foreach $order_status_list as $key=>$item}
                            <option value="{$key}">{$item}</option>
                            {/foreach}
                        </select>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input class="hide" type="submit" name="btnSave" value="提交" onclick="$.table.search();return false;">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--搜索区域结束-->

    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
</div>
<script>
    $(function() {
        var options = {
            uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
            url           : "/admin/TicketOrder/index.html?getList=1",      // 请求后台的URL
            sortUrl       : "/admin/TicketOrder/sort.html",      // 排序的地址
            sortName      : "id",         // 排序列名称
            sortOrder     : "desc",                 // 排序方式  asc 或者 desc
			pagination    : true,			// 是否进行分页
            parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
			clickToSelect : true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
            pageSize      : "10",         // 每页显示的行数
            layerOpen     : "1",        // 添加/审核等页启用layer弹层加载
            emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
            fixedColumns  : true,                   // 是否启用固定列功能
            fixedLeft     : 0,          // 左侧固定列数
            fixedRight    : 1,         // 右侧固定列数
            columns: [
                {
                    //field: 'state',
                    checkbox: true,
					// 当某行包含checkbox_disabled时禁止选择
					formatter: function(value, row, index) {
						if(row.checkbox_disabled =='1'){
							 return {
								 disabled : true
							}
						 }
					}
                },
                {
                    field: 'channel_text',
                    title: '渠道'
                },
                {
                    field: 'seller.nickname',
                    title: '所属商户'
                },
                {
                    field: 'trade_no',
                    title: '订单号',
                    sortable: true,
                },
                {
                    title: '购买人',
                    formatter: function(value, row, index) {
                        if(row.channel == 'travel'){
                            return row.travel != null ? row.travel.nickname : '-';
                        }else{
                            return row.users != null ? row.users.nickname : '-';
                        }

                    }                                                                       
                },
                {
                    field: 'amount_price',  
                    title: '实际支付', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        return value;
                    }                                                                     
                },
                {
                    field: 'payment_status_text',
                    title: '支付状态'
                },
                {
                    field: 'order_status_text',
                    title: '订单状态'
                },
                {
                    field: 'type_text',
                    title: '支付渠道'
                },
                {
                    field: 'payment_datetime',  
                    title: '支付时间', 
                    sortable: true,               
                },
                {
                    field: 'create_time',  
                    title: '下单时间', 
                    sortable: false,     
                    formatter: function(value, row, index) {
                        return changeDateFormat(value);
                    }
                },
                {
                    field: 'right_button',  
                    title: '操作', 
                    sortable: false,     
                    class : 'text-nowrap',
					formatter: function(value, row, index) {
						var actions = [];
                        actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="see(\'' + row.id + '\')"><i class="fa fa-search"></i> 查看</a> ');
                        return actions.join('');
					}
                },
            ]
        };
        $.table.init(options);
    });

    // 搜索
    function searchPre() {
        var data = {};
        $.table.search('', data);
    }

    // 重置搜索
    function resetPre() {
        $.form.reset();
    }
	//HTML反转义
	function HTMLDecode(text) {
		var temp = document.createElement("div");
		temp.innerHTML = text;
		var output = temp.innerText || temp.textContent;
		temp = null;
		return output;
	}
    // 审核商户
    function check(id) {
        var url = "/admin/TicketOrder/check.html?id="+id;
        $.common.jump(url);
    }
    // 查看商户详情
    function see(id) {
        var url = "/admin/TicketOrder/see.html?id="+id;
        $.common.jump(url);
    }
</script>

<!--bootstrap table end-->

<!--底部提示-->
</section>