<style>
    body {
        background-color: #f4f6f9;
    }

    .infobox {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    .p-30 {
        padding: 0 30px;
        height: 30px;
        line-height: 30px;
        min-width: 300px;
    }

    .steps {
        width: 100%;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .callout-box {
        border-radius: 0.25rem;
        box-shadow: 0 1px 3pxrgba(0, 0, 0, .12), 0 1px 2pxrgba(0, 0, 0, .24);
        background-color: #fff;
        border-left: 5px solid #117a8b;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .callout-box .callout.callout-info {
        border: none;
        box-shadow: none;
        display: none;
        margin: 0;
        padding: 15px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d8d8d8;
    }

    .callout.callout-info .right {
        font-size: 12px;
        color: #204d74;
        cursor: pointer;
    }
    .p-30 {
        display: inline-block;
        min-width: auto
    }

    #maps {
        width: 100%;
        height: 240px;
    }
</style>
<section class="content">
    <div class="container-fluid" style="padding: 20px 0">
        <div class="callout callout-info">
            <h5>基本信息</h5>
            <div>
                <div class="p-30">
                    所属商户：{$detail.seller.nickname}
                </div>
                <div class="p-30">
                    核销点名称：{$detail.title}
                </div>
                <div class="p-30">
                    负责人：{$detail.name}
                </div>
                <div class="p-30">
                    负责人电话：{$detail.mobile}
                </div>
            </div>
        </div>


        <div class="callout callout-info">
            <h5>核销点位置</h5>
            <div>
                <div class="p-30">
                    纬度：{$detail.latitude}
                </div>
                <div class="p-30">
                    经度：{$detail.longitude}
                </div>
                <div class="p-30">
                    具体位置：{$detail.address}
                </div>
            </div>
            <div id="maps"></div>
        </div>
        <div class="callout callout-info" >
            <div class="row dd_input_group form-builder-submit no-gutters" style="width: 300px;">
                <button type="button" class="btn btn-flat btn-default" onclick="back()">返
                    回</button>
            </div>
        </div>
    </div>
    <script charset="utf-8"
            src="https://map.qq.com/api/gljs?v=1.exp&key=UPOBZ-3VVLX-NN64Z-TDIIZ-UXVXS-YRFUP&libraries=visualization"></script>
    <script>

        function back() {
            var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
            parent.layer.close(index);//关闭窗口
        }
        //商户地点

        const locations = {
            lat:Number('{$detail.seller.latitude}'),
            lng:Number('{$detail.seller.longitude}')
        };


        //核销点位置
        let data = [{ lat: Number('{$detail.latitude}'), lng: Number('{$detail.longitude}'), styleId: 'style1' }];

        initMap();
        //地图初始化函数，本例取名为init，开发者可根据实际情况定义
        function initMap() {
            //定义地图中心点坐标
            var center = new TMap.LatLng(locations.lat, locations.lng);
            //定义map变量，调用TMap.Map构造函数创建地图
            var map = new TMap.Map(document.getElementById('maps'), {
                center: center,//设置地图中心点坐标
                zoom: 14,   //设置地图缩放级别
            });
            //创建并初始化MultiMarker
            var markerLayer = new TMap.MultiMarker({
                map: map,  //指定地图容器
                //样式定义
                styles: {
                    //创建一个styleId为"myStyle"的样式（styles的子属性名即为styleId）
                    "myStyle": new TMap.MarkerStyle({
                        "width": 25,  // 点标记样式宽度（像素）
                        "height": 35, // 点标记样式高度（像素）
                        "anchor": { x: 16, y: 32 }
                    })
                },
                geometries: [{
                    "id": "1",   //点标记唯一标识，后续如果有删除、修改位置等操作，都需要此id
                    "styleId": 'myStyle',  //指定样式id
                    "position": new TMap.LatLng(locations.lat, locations.lng),  //点标记坐标位置
                }]
            });

            var dot = new TMap.visualization.Dot({
                faceTo: "map", //散点固定的朝向
                styles: {
                    style1: {
                        type: "circle", //圆形样式
                        fillColor: "rgba(204,42,24,0.3)",
                        radius: 12,
                    },
                },
                processAnimation: {
                    animationType: "radiated", //动画类型
                },
                enableBloom: true, // 泛光
            }).addTo(map);//将图层添加到map中
            //为dot图层添加数据
            dot.setData(data);
            //
            var dot1 = new TMap.visualization.Dot({
                faceTo: "map", //散点固定的朝向
                styles: {
                    style1: {
                        fillColor: "#C72A18",
                        radius: 4,
                    },
                },
            }).addTo(map);//将图层添加到map中
            //为dot图层添加数据
            dot1.setData(data);
        };

    </script>
</section>
<!--内容结束-->