<style>
    .btn-block+.btn-block {
        margin-top: 0 !important;
    }

    .table-spot_ids {
        min-height: 40px;
        line-height: 40px;
    }
</style>
{if $tour.is_locking == 0}
<div class="container-fluid">
    <div class="row">
        <!--顶部提示开始-->
        <!--顶部提示结束-->
        <!--数据表开始-->
        <form name="form-builder" class="col-12 form_builder" method="post" action="/travel/tour/edittouristPost.html"
            id="form-builder">
            <input type="hidden" name="tid" value="{$tour.id}">
            <input type="hidden" name="id" value="{$tourist.id}">
            <div class="row dd_input_group no-gutters" id="form_group_name">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="name">游客姓名</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" name="name" id="name" value="{$tourist.name}" placeholder="请输入游客姓名">
                </div>
            </div>

            <div class="row dd_input_group no-gutters" id="form_group_mobile">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="mobile">游客电话</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="mobile" name="mobile" value="{$tourist.mobile}" placeholder="请输入游客电话">
                </div>
            </div>

            <div class="row dd_input_group no-gutters" id="form_group_idcard">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="idcard">游客身份证号</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="idcard" name="idcard" value="{$tourist.idcard}" placeholder="请输入游客身份证号">
                </div>
            </div>


            <div class="row dd_input_group no-gutters " id="form_group_contract">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label "
                    for="contract">旅游合同或确认件</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="contract" name="contract" value="{$tourist.contract}"
                        placeholder="请点击按钮上传或手动输入地址">
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_contract" class="uploader-list"></div>
                    <div id="filePicker_contract"><i class="fa fa-upload m-r-10"></i>选择PDF</div>
                    <!-- <a href="{if $tourist.contract}{$tourist.contract}{else /}/static/admin/images/nopic.png{/if}" target="_blank">
                        <img class="image_preview_info" src="{if $tourist.contract}{$tourist.contract}{else /}/static/admin/images/nopic.png{/if}" id="contract_preview">
                    </a> -->
                    <!--上传图片-->
                </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_contract', 'filePicker_contract', 'contract_preview', 'contract', false, 'pdf', '0','file');
            </script>


            <div class="row dd_input_group no-gutters " id="form_group_insurance">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label"
                    for="insurance">旅游保单</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="insurance" name="insurance" value="{$tourist.insurance}"
                        placeholder="请点击按钮上传或手动输入地址">
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_insurance" class="uploader-list"></div>
                    <div id="filePicker_insurance"><i class="fa fa-upload m-r-10"></i>选择PDF</div>
                    <!-- <a href="{if $tourist.insurance}{$tourist.insurance}{else /}/static/admin/images/nopic.png{/if}" target="_blank">
                        <img class="image_preview_info" src="{if $tourist.insurance}{$tourist.insurance}{else /}/static/admin/images/nopic.png{/if}" id="insurance_preview">
                    </a> -->
                    <!--上传图片-->
                </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_insurance', 'filePicker_insurance', 'insurance_preview', 'insurance', false, 'pdf', '0','file');
            </script>
            <!---->

            <div class="row dd_input_group form-builder-submit no-gutters">
                <div
                    class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-1">
                    <button type="submit" class="btn btn-flat btn-primary hide">提 交</button> <button type="button"
                        class="btn btn-flat btn-default hide" onclick="javascript :history.back(-1)">返 回</button>
                </div>
            </div><!-- /.box -->
        </form>
        <!--底部提示-->
    </div>
</div>
{else /}
<div class="container-fluid">
    <div class="row">
        <!--顶部提示开始-->
        <!--顶部提示结束-->
        <!--数据表开始-->
        <form name="form-builder" class="col-12 form_builder" method="post" action="/travel/tour/edittouristPost.html"
            id="form-builder">
            <input type="hidden" name="tid" value="{$tour.id}">
            <input type="hidden" name="id" value="{$tourist.id}">
            <div class="row dd_input_group no-gutters" id="form_group_name">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="name">游客姓名</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" disabled name="name" id="name" value="{$tourist.name}" placeholder="请输入游客姓名">
                </div>
            </div>

            <div class="row dd_input_group no-gutters" id="form_group_mobile">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="mobile">游客电话</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" disabled id="mobile" name="mobile" value="{$tourist.mobile}" placeholder="请输入游客电话">
                </div>
            </div>

            <div class="row dd_input_group no-gutters" id="form_group_idcard">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="idcard">游客身份证号</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" disabled id="idcard" name="idcard" value="{$tourist.idcard}" placeholder="请输入游客身份证号">
                </div>
            </div>


            <div class="row dd_input_group no-gutters " id="form_group_contract">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label "
                    for="contract">旅游合同或确认件</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" disabled id="contract" name="contract" value="{$tourist.contract}"
                        placeholder="请点击按钮上传或手动输入地址">
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_contract" class="uploader-list"></div>
                    <!-- <a href="{if $tourist.contract}{$tourist.contract}{else /}/static/admin/images/nopic.png{/if}" target="_blank">
                        <img class="image_preview_info" src="{if $tourist.contract}{$tourist.contract}{else /}/static/admin/images/nopic.png{/if}" id="contract_preview">
                    </a> -->
                    <!--上传图片-->
                </div>
            </div>

            

            <div class="row dd_input_group no-gutters " id="form_group_insurance">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label"
                    for="insurance">旅游保单</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" disabled id="insurance" name="insurance" value="{$tourist.insurance}"
                        placeholder="请点击按钮上传或手动输入地址">
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_insurance" class="uploader-list"></div>
                    <!-- <a href="{if $tourist.insurance}{$tourist.insurance}{else /}/static/admin/images/nopic.png{/if}" target="_blank">
                        <img class="image_preview_info" src="{if $tourist.insurance}{$tourist.insurance}{else /}/static/admin/images/nopic.png{/if}" id="insurance_preview">
                    </a> -->
                    <!--上传图片-->
                </div>
            </div>

            <div class="row dd_input_group no-gutters " id="form_group_insurance">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label"
                    for="insurance"></label>
            <p class="text-danger">
                锁定游客以后不可编辑用户
                <i class=" far fa-fw fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="锁定游客以后不可编辑用户"></i>
            </p>
            <!---->
            </div>

            <div class="row dd_input_group form-builder-submit no-gutters">
                <div
                    class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-1">
                    <button type="submit" class="btn btn-flat btn-primary hide">提 交</button> <button type="button"
                        class="btn btn-flat btn-default hide" onclick="javascript :history.back(-1)">返 回</button>
                </div>
            </div><!-- /.box -->
        </form>
        <!--底部提示-->
    </div>
</div>
{/if}