<style>
    .btn-block+.btn-block {
        margin-top: 0 !important;
    }

    .table-spot_ids {
        min-height: 40px;
        line-height: 40px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <!--顶部提示开始-->
        <!--顶部提示结束-->
        <!--数据表开始-->
        <form name="form-builder" class="col-12 form_builder" method="post" action="/travel/tour/editguidePost.html"
            id="form-builder">
            <input type="hidden" name="tid" value="{$tid}">
            <input type="hidden" name="id" value="{$guide.id}">
            <div class="row dd_input_group no-gutters" id="form_group_name">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="name">导游姓名</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" name="name" id="name" value="{$guide.name}" placeholder="请输入导游姓名">
                </div>
            </div>

            <div class="row dd_input_group no-gutters" id="form_group_mobile">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="mobile">导游电话</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="mobile" name="mobile" value="{$guide.mobile}" placeholder="请输入导游电话">
                </div>
            </div>

            <div class="row dd_input_group no-gutters" id="form_group_idcard">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required"
                    for="idcard">导游身份证号</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="idcard" name="idcard" value="{$guide.idcard}" placeholder="请输入导游身份证号">
                </div>
            </div>


            <div class="row dd_input_group no-gutters " id="form_group_certificates">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label "
                    for="certificates">导游证</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="certificates" name="certificates" value="{$guide.certificates}"
                        placeholder="请点击按钮上传或手动输入地址">
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_certificates" class="uploader-list"></div>
                    <div id="filePicker_certificates"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                    <a href="{if $guide.certificates}{$guide.certificates}{else /}/static/admin/images/nopic.png{/if}" target="_blank">
                        <img class="image_preview_info" src="{if $guide.certificates}{$guide.certificates}{else /}/static/admin/images/nopic.png{/if}" id="certificates_preview">
                    </a>
                    <!--上传图片-->
                </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_certificates', 'filePicker_certificates', 'certificates_preview', 'certificates', false, 'jpg,png,gif,jpeg', '0');
            </script>
            <!---->

            <div class="row dd_input_group form-builder-submit no-gutters">
                <div
                    class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-1">
                    <button type="submit" class="btn btn-flat btn-primary hide">提 交</button> <button type="button"
                        class="btn btn-flat btn-default hide" onclick="javascript :history.back(-1)">返 回</button>
                </div>
            </div><!-- /.box -->
        </form>
        <!--底部提示-->
    </div>
</div>