<!--内容开始-->
<style>
    #imports {
        padding: 0;
        margin-left: 5px;
    }

    .webuploader-pick {
        width: 100% !important;
        padding: .25rem .5rem;
        background-color: #28a745;
    }

    .btn-group-sm {
        display: flex;
    }

    .del {
        margin-right: 5px;
    }
</style>
<section class="content">
    <!--顶部提示开始-->
    <!--顶部提示结束-->
    <div class="container-fluid">
        <div class="row">
            <!--搜索区域开始-->
            <!-- <div class="col-12 search-collapse">
                <form id="search_form" name="search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>名称：</label>
                                <input type="text" id="search_name" name="name" value="" placeholder="请输入旅行团名称">
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a
                                    class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input
                                    class="hide" type="submit" name="btnSave" value="提交"
                                    onclick="$.table.search();return false;">
                            </li>
                        </ul>
                    </div>
                </form>
            </div> -->
            <!--搜索区域结束-->
            <input type="hidden" name="tid" id="tid" value="{$tid}">
            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar" role="group">
                    {if condition="$tour.is_locking == 0"}
                    <a class="btn btn-success " onclick="add();">
                        <i class="fa fa-plus"></i>添加游客</a>
                    <div class="btn btn-success" id="imports">
                        <i class="fa fa-plus"></i>导入游客
                    </div>
                    {/if}
                    <a class="btn btn-success btn-xs confirm m-r-5" target="downloadFile"
                        href="/files/旅行社游客数据导入模板.xlsx?response-content-type=application/octet-stream" download><i
                            class="far fa-arrow-alt-circle-down "></i> 导入游客模板下载</a>

                    {if condition="$tour.ht_type == 1 && $tour.is_locking == 0"}
                    <a class="btn btn-success m-r-5" onclick="uploadFile()">
                        <i class="far fa-arrow-alt-circle-down"></i>一键上传合同/保单</a>
                    {/if}

                    {if condition="$tour.is_locking == 0"}
                    <a class="btn btn-danger m-r-5 multiple disabled del" onclick="$.operate.removeAll()">
                        <i class="fa fa-times "></i> 删除</a>
                    {/if}

                    <a class="btn btn-warning m-r-5" onclick="javascript :history.back(-1);">
                        <i class="fa fa-undo"></i>返回上一页</a>
                </div>
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
            <div class="col-lg-5">
                <!-- {$tour.is_locking}1锁定 -->
                <a class="btn btn-warning  
                {if condition='$tour.is_locking == 1'} disabled {/if}" 
                {if condition="$tour.is_locking == 0" } onclick="lockTour('{$tour.id}')" {/if}>
                {if condition="$tour.is_locking == 0"} 锁定游客 {else/} 已锁定{/if}</a>
                {if condition="$tour.ht_type == 2 && $tour.is_locking == 0"}
                <a class="btn btn-warning" onclick="uploadFile(true)">批量上传合同/保单</a>
                {/if}
            </div>
        </div>
    </div>

    <script>
        function lockTour(tid) {
            $.modal.confirm('是否要锁定游客', () => {
                $.ajax({
                    //请求方式为post
                    method: "post",
                    //请求地址
                    url: "/travel/tour/locking",
                    data: {
                        tid
                    },
                    //请求类型为json
                    dataType: "json",
                    success: (res) => {
                        if(res.code == 1){
                            $.modal.msg(res.msg);
                            setTimeout(()=>{
                                window.location.reload();
                            },1000)
                        }
                    }
                })
            })
        }
        window.sessionStorage.removeItem('uploadSessionData');
            $(function () {
                var options = {
                    uniqueId: "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
                    url: "/travel/tour/tourist.html?getList=1&tid=" + $('#tid').val(),      // 请求后台的URL
                    addUrl: "/travel/tour/addTourist.html",      // 新增的地址
                    editUrl: "/travel/tour/editTourist.html?id=__id__",      // 新增的地址
                    sortUrl: "/travel/tour/sort.html",      // 排序的地址
                    delUrl: "/travel/tour/delTourist.html",       // 删除的地址
                    sortName: "id",         // 排序列名称
                    sortOrder: "desc",       // 排序方式  asc 或者 desc
                    pagination: true,           // 是否进行分页
                    parentIdField: "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
                    clickToSelect: true,                   // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
                    pageSize: "10",         // 每页显示的行数
                    layerOpen: "1",        // 添加/编辑等页启用layer弹层加载
                    emptyTips: "没有找到匹配的记录",        // 空数据提示信息
                    fixedColumns: true,                   // 是否启用固定列功能
                    fixedLeft: 0,          // 左侧固定列数
                    fixedRight: 1,         // 右侧固定列数
                    columns: [
                        {
                            //field: 'state',
                            checkbox: true,
                            // 当某行包含checkbox_disabled时禁止选择
                            formatter: function (value, row, index) {

                                let getSessionData = JSON.parse(window.sessionStorage.getItem('uploadSessionData'));
                                if (getSessionData != null && getSessionData.some(item => item.id === row.id)) {
                                    return {
                                        checked: true
                                    }
                                }


                                if (row.checkbox_disabled == '1') {
                                    return {
                                        disabled: true
                                    }
                                }
                            }
                        },
                        {
                            field: 'id',
                            title: '编号',
                            sortable: true,
                        },
                        {
                            field: 'name',
                            title: '名称',
                            sortable: true,
                            formatter: function (value, row, index) {
                                return HTMLDecode(value);
                            }
                        },
                        {
                            field: 'users',
                            title: '用户ID',
                            sortable: true,
                            formatter: function (value, row, index) {
                                if (row.users) {
                                    return row.users.id;
                                } else {
                                    return '暂未绑定用户信息';
                                }
                            }
                        },
                        {
                            field: 'mobile',
                            title: '电话',
                            sortable: true,
                            formatter: function (value, row, index) {
                                return HTMLDecode(value);
                            }
                        },
                        {
                            field: 'idcard',
                            title: '身份证号',
                            sortable: true,
                            formatter: function (value, row, index) {
                                return HTMLDecode(value);
                            }
                        },
                        {
                            field: 'contract',
                            title: '旅游合同或确认件',
                            sortable: true,
                            formatter: function (value, row, index) {
                                if (row.contract) {
                                    return '<span class="badge badge-success"> 已上传 </span>';
                                } else {
                                    return '<span class="badge badge-danger"> 未上传 </span>';
                                }
                            }
                        },
                        {
                            field: 'insurance',
                            title: '旅游保单',
                            sortable: true,
                            formatter: function (value, row, index) {
                                if (row.insurance) {
                                    return '<span class="badge badge-success"> 已上传 </span>';
                                } else {
                                    return '<span class="badge badge-danger"> 未上传 </span>';
                                }
                            }
                        },
                        {
                            field: 'province',
                            title: '省份',
                            sortable: true,
                            formatter: function (value, row, index) {
                                if(row.users){
                                    if(row.users.province)
                                        return row.users.province;
                                }
                                return '未识别';
                            }
                        },
                        {
                            field: 'city',
                            title: '城市',
                            sortable: true,
                            formatter: function (value, row, index) {
                                if(row.users){
                                    if(row.users.city)
                                        return row.users.city;
                                }
                                return '未识别';
                            }
                        },
                        {
                            field: 'district',
                            title: '县区',
                            sortable: true,
                            formatter: function (value, row, index) {
                                if(row.users){
                                    if(row.users.district)
                                        return row.users.district;
                                }
                                return '未识别';
                            }
                        },
                        // {
                        //     field: 'status',
                        //     title: '状态',
                        //     sortable: false,
                        //     formatter: function (value, row, index) {
                        //         if (value == 0) {
                        //             return '<i class="fa fa-toggle-off text-info fa-2x cursor_pointer" onclick="$.operate.state(\'' + row.id + '\',\'/travel/tour/stateTourist.html\')"></i>';
                        //         } else {
                        //             return '<i class="fa fa-toggle-on text-info fa-2x cursor_pointer" onclick="$.operate.state(\'' + row.id + '\',\'/travel/tour/stateTourist.html\')"></i>';
                        //         }
                        //     }
                        // },
                        {
                            field: 'create_time',
                            title: '创建时间',
                            sortable: false,
                            formatter: function (value, row, index) {
                                return changeDateFormat(value);
                            }
                        },
                        {
                            field: 'update_time',
                            title: '更新时间',
                            sortable: false,
                            formatter: function (value, row, index) {
                                return changeDateFormat(value);
                            }
                        },
                        {
                            field: 'right_button',
                            title: '操作',
                            sortable: false,
                            class: 'text-nowrap',
                            formatter: function (value, row, index) {
                                var actions = [];
                                actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="edit(\'' + row.id + '\',1)"><i class="fa fa-edit"></i>编辑</a> ');
                                /*actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="del(\'' + row.id + '\',1)"><i class="fa fa-edit"></i>删除</a> ');*/
                                return actions.join('');
                            }
                        },
                    ],
                };
                $.table.init(options);
            });

            // 搜索
            function searchPre() {
                var data = {};
                $.table.search('', data);
            }

            // 重置搜索
            function resetPre() {
                $.form.reset();
            }
            //HTML反转义
            function HTMLDecode(text) {
                var temp = document.createElement("div");
                temp.innerHTML = text;
                var output = temp.innerText || temp.textContent;
                temp = null;
                return output;
            }

            // 上传信息
            function add() {
                var tid = $('#tid').val();
                var url = $.operate.addUrl() + '&tid=' + tid;
                if ($.table._option.layerOpen == "1") {
                    // 通过参数隐藏左侧和顶部等数据
                    if (url.indexOf('?') != -1) {
                        url = url + '&_layer=1'
                    } else {
                        url = url + '?_layer=1'
                    }
                    // 弹窗打开要添加的地址
                    $.modal.open("添加", url);
                } else {
                    // 当前窗口打开要添加的地址
                    $.common.jump(url);
                }
            }
            webuploadimport();
            /**
             * 封装上传组件
             * @param list
             * @param filePicker_image
             * @param image_preview
             * @param image
             * @param more            是否图集
             * @param upload_allowext 格式限制
             * @param size            大小限制
             * @param type            上传类型[file/img]
             */
            function webuploadimport() {
                var size = 10 * 1024 * 1024;
                var upload_allowext = 'xls,xlsx';
                type = 'file';
                var GUID = 22323321;                            // 一个GUID
                var uploader = WebUploader.create({
                    auto: true,                                                // 选完文件后，是否自动上传。
                    swf: '/static/plugins/webuploader-0.1.5/uploader.swf',     // 加载swf文件，路径一定要对
                    server: '/travel/tour/imports.html' + '?upload_type=' + type, // 文件接收服务端
                    pick: '#imports',                              // 选择文件的按钮。可选。
                    resize: false,                                             // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                    chunked: true,                                             // 是否分片
                    chunkSize: 5 * 1024 * 1024,                                // 分片大小
                    threads: 1,                                                // 上传并发数
                    formData: {
                        // 由于Http的无状态特征，在往服务器发送数据过程传递一个进入当前页面是生成的GUID作为标示
                        GUID: GUID,                                            // 自定义参数
                        tid: $('#tid').val(),
                    },
                    compress: false,
                    fileSingleSizeLimit: size,                                 // 限制大小200M，单文件
                    //fileSizeLimit: allMaxSize*1024*1024,                     // 限制大小10M，所有被选文件，超出选择不上
                    accept: {
                        title: '上传图片/文件',
                        extensions: upload_allowext,                           // 允许上传的类型 'gif,jpg,jpeg,bmp,png'
                        mimeTypes: '*',                                        // 默认全部文件，为兼容上传文件功能，如只上传图片可写成img/*
                    }
                });

                uploader.on('uploadSuccess', function (file, response) {
                    if (response.code != 0) {
                        $.modal.alertError(response.msg + response.data); return;
                    }
                    $.modal.alertSuccess(response.msg, (index) => {
                        layer.close(index);
                        $.table.refresh();
                    });

                    //$.modal.msgReload(response.msg,'success');return;

                });
                uploader.on("error", function (type) {
                    if (type == "Q_TYPE_DENIED") {
                        $.modal.alertError('请上传' + upload_allowext + '格式的文件！');
                    } else if (type == "F_EXCEED_SIZE") {
                        $.modal.alertError('单个文件大小不能超过' + size / 1024 + 'kb！');
                    } else if (type == "F_DUPLICATE") {
                        $.modal.alertError('请不要重复选择文件');
                    } else {
                        $.modal.alertError('上传出错！请检查后重新上传！错误代码' + type);
                    }
                });
            }

            // 编辑导游信息
            function edit(id) {
                var tid = $('#tid').val();
                var url = $.operate.editUrl(id) + '&tid=' + tid;
                if ($.table._option.layerOpen == "1") {
                    // 通过参数隐藏左侧和顶部等数据
                    if (url.indexOf('?') != -1) {
                        url = url + '&_layer=1'
                    } else {
                        url = url + '?_layer=1'
                    }
                    // 弹窗打开要添加的地址
                    $.modal.open("编辑", url);
                } else {
                    // 当前窗口打开要添加的地址
                    $.common.jump(url);
                }
            }
            let rows = 0;
            //上传保单和合同
            function uploadFile(status = false) {
                let ids = '';
                if (rows == 0) {
                    $.modal.msg('请添加游客！', 1);
                    return false;
                };
                $.modal.confirm('请确定游客信息全部录入完成后上传保单/合同！', () => {
                    if (status) {
                        const data = window.sessionStorage.getItem('uploadSessionData');
                        const dataArray = JSON.parse(data);
                        if (dataArray == null || dataArray.length == 0) {
                            $.modal.msg('请选择数据在上传！', 1);
                            return false;
                        }
                        const id = [];
                        dataArray.forEach((item) => {
                            id.push(item.id)
                        });
                        ids = id.join(",");
                    }
                    tid = $("#tid").val();
                    $.modal.open("批量上传合同/保单", `/travel/tour/ht_type?_layer=1&tid=${tid}&ids=${ids}`);
                })


            };

            $('#bootstrap-table').on('load-success.bs.table', function (e, data) {
                rows = data.total;
            });


            $("#bootstrap-table").on("check-all.bs.table", function (e, row, $element) {
                //全选
                var rows = $('#bootstrap-table').bootstrapTable('getSelections');
                let data = rows.map((item) => {
                    return item;
                });
                allCheckAddSession(data, 'uploadSessionData');
            })

            $("#bootstrap-table").on("uncheck-all.bs.table", function (e, row, $element) {
                //取消全选
                let getSessionData = JSON.parse(window.sessionStorage.getItem('uploadSessionData'));
                deletAllCheckSession(getSessionData, 'uploadSessionData');
                $.table.refresh('refresh');
            })

            $("#bootstrap-table").on("check.bs.table", function (e, row, $element) {
                //点击CheckBox触发事件        
                addSessionData(row, 'uploadSessionData');
            });

            $("#bootstrap-table").on("uncheck.bs.table", function (e, row, $element) {
                //点击取消复选框
                deletSessionData(row, 'uploadSessionData');
            });



            //公共方法

            //分页选中添加存储
            function addSessionData(data, fageName) {
                let downSelectData = JSON.parse(window.sessionStorage.getItem(fageName));
                if (downSelectData && downSelectData.length > 0) {
                    if (downSelectData.every(key => key.id !== data.id)) {
                        downSelectData.push(data);
                    }
                } else {
                    downSelectData = [];
                    downSelectData.push(data);
                }
                window.sessionStorage.setItem(fageName, JSON.stringify(downSelectData));
            };

            //分页选中删除存储
            function deletSessionData(data, fageName) {
                let downSelectData = JSON.parse(window.sessionStorage.getItem(fageName));
                downSelectData.forEach((item, i) => {
                    if (item.id === data.id) {
                        downSelectData.splice(i, 1);
                    }
                })
                window.sessionStorage.setItem(fageName, JSON.stringify(downSelectData));
            }

            //全部选中添加存储
            function allCheckAddSession(datas, fageName) {
                let downSelectData = JSON.parse(window.sessionStorage.getItem(fageName));
                if (downSelectData && downSelectData.length > 0) {
                    datas.forEach(item => {
                        if (downSelectData.every(keys => keys.id !== item.id)) {
                            downSelectData.push(item);
                        }
                    })
                } else {
                    downSelectData = datas;
                }
                window.sessionStorage.setItem(fageName, JSON.stringify(downSelectData));
            }
            //全部取消选中删除存储
            function deletAllCheckSession(datas, fageName) {
                let downSelectData = JSON.parse(window.sessionStorage.getItem(fageName));
                datas.forEach(item => {
                    downSelectData.forEach((keys, key) => {
                        if (item.id === keys.id) {
                            downSelectData.splice(key, 1);
                        }
                    })
                })
                window.sessionStorage.setItem(fageName, JSON.stringify(downSelectData));
            }
    </script>

    <!--bootstrap table end-->

    <!--底部提示-->
</section>