<!--内容开始-->
<section class="content">
    <div style="background-color:#fff;width: 100%;border-radius: .25rem;margin-top: 10px;">
        <div class="head-box">
            <div class="item">
                <span class="item-icon">
                    <i class="nav-icon fa fa-check"></i>
                </span>
                创建任务
            </div>
            <div class="item"></div>
            <div class="item">
                <span class="item-icon-not">2</span>
                确认结算信息并提交
            </div>
        </div>
    </div>
    <!--顶部提示开始-->
    <!--顶部提示结束-->
    <div class="container-fluid">
        <div class="row">
            <!--搜索区域开始-->
            <div class="col-12 search-collapse">
                <form id="search_form" name="search_form">
                    <div class="select-list">
                        <ul>

                            <li>
                                <label>选择时间：</label>
                                <input type="text" id="create_time" name="create_time" value="" placeholder="请输入创建时间">
                                <span class="badge badge-danger">* 默认为当天日期</span>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--搜索区域结束-->
            <script>
                $(function () {
                    $('#create_time').daterangepicker(
                            {
                                autoUpdateInput: false,  // 自动填充日期
                                showDropdowns: false,     // 年月份下拉框
                                timePicker: false,        // 显示时间
                                timePicker24Hour: false,  // 时间制
                                timePickerSeconds: false, // 时间显示到秒
                                locale: {
                                    format: 'YYYY-MM-DD',
                                    applyLabel: '确定',       // 确定按钮文本
                                    cancelLabel: '取消',      // 取消按钮文本
                                    customRangeLabel: '自定义',
                                },
                                ranges: {
                                    '今天': [moment(), moment()],
                                    '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                    '上周': [moment().subtract(6, 'days'), moment()],
                                    '前30天': [moment().subtract(29, 'days'), moment()],
                                    '本月': [moment().startOf('month'), moment().endOf('month')],
                                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                },
                            }
                    ).on('cancel.daterangepicker', function (ev, picker) {
                        $(this).val("");
                    }).on('apply.daterangepicker', function (ev, picker) {
                        $(this).val(picker.startDate.format('YYYY-MM-DD') + " 至 " + picker.endDate.format('YYYY-MM-DD'));
                    });
                });
            </script>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
        <div class="col-lg-5">
            <a class="btn btn-warning" onclick="nexts()">下一步</a>
        </div>
    </div>
    <script>
        $(function () {
            var options = {
                uniqueId: "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
                url: "/seller/Settlement/add.html?getList=1",      // 请求后台的URL
                addUrl: "/seller/Settlement/add.html",       // 新增的地址
                sortUrl: "/seller/Settlement/sort.html",      // 排序的地址
                sortName: "id",         // 排序列名称
                sortOrder: "desc",                 // 排序方式  asc 或者 desc
                pagination: true,			// 是否进行分页
                parentIdField: "",   // 列表树模式需传递父id字段名（parent_id/pid）
                clickToSelect: true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
                pageSize: "10",         // 每页显示的行数
                layerOpen: "1",        // 添加/编辑等页启用layer弹层加载
                emptyTips: "请选择时间段",        // 空数据提示信息
                fixedColumns: true,                   // 是否启用固定列功能
                fixedLeft: 0,          // 左侧固定列数
                fixedRight: 1,         // 右侧固定列数
                columns: [
                    {
                        //field: 'state',
                        //checkbox: true,
                        // 当某行包含checkbox_disabled时禁止选择
                        // formatter: function (value, row, index) {
                        //     if (row.checkbox_disabled == '1') {
                        //         return {
                        //             disabled: true
                        //         }
                        //     }
                        // }
                    },
                    {
                        field: 'id',
                        title: '编号',
                        sortable: true,
                    },
                    {
                        field: 'trade_no',
                        title: '订单编号[内部]',
                        sortable: false,
                    },
                    {
                        field: 'contact_man',
                        title: '订单联系人',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'contact_phone',
                        title: '联系号码',
                        sortable: false,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'contact_certno',
                        title: '证件号',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'origin_price',
                        title: '订单原价',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'amount_price',
                        title: '实际支付',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'type_text',
                        title: '支付渠道',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'uuid',
                        title: '下单人',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'payment_datetime',
                        title: '支付到账时间',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    },
                    {
                        field: 'create_time',
                        title: '下单时间',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return HTMLDecode(value);
                        }
                    }/*,
                    {
                        field: 'right_button',
                        title: '操作',
                        sortable: false,
                        class: 'text-nowrap',
                        formatter: function (value, row, index) {
                            var actions = [];
                            var url = '/seller/summary/see.html?id=' + row.id;
                            // 匹配ID和email，可能为任何的其他参数，但都是 __字段__ 格式
                            actions.push('<a class="btn btn-primary btn-xs confirm" target="" href="' + url + '"><i class="fa fa-search"></i> 查看</a> ');
                            return actions.join('');
                        }
                    }*/
                ]
            };
            $.table.init(options);
        });

        // 搜索
        function searchPre() {
            var data = {};
            $.table.search('', data);
        }

        // 重置搜索
        function resetPre() {
            $.form.reset();
        }

        //HTML反转义
        function HTMLDecode(text) {
            var temp = document.createElement("div");
            temp.innerHTML = text;
            var output = temp.innerText || temp.textContent;
            temp = null;
            return output;
        }

        function nexts() {
            let date = $("#create_time").val();
            var allTableData = $.table.allTableData();
            if (!date) {
                $.modal.alert('请选择结算时间');
                return false;
            }
            if (allTableData.length === 0) {
                $.modal.alert('当前时间暂无结算数据！');
                return false;
            }
            window.location.href = `/seller/Settlement/confirm_form?date=${date}`;
        }
    </script>
    <!--bootstrap table end-->
    <!--底部提示-->
</section>
<style>
    .head-box {
        margin: 0 auto 20px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        width: 500px;
    }

    .head-box .item {
        position: relative;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }

    .head-box .item:nth-of-type(2) {
        width: 200px;
    }

    .head-box .item .item-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
        background-color: #204d74;
    }

    .head-box .item .item-icon-not {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #204d7490;
        font-size: 16px;
        border: 2px solid #204d7490;
    }

    .head-box .item:nth-of-type(2)::after {
        content: "";
        width: 90%;
        height: 4px;
        border-radius: 20px;
        position: absolute;
        background-color: #204d74;
    }
</style>
