<!--内容开始-->
<section class="content">
<!--顶部提示开始-->
<!--顶部提示结束-->
<div class="container-fluid">
<div class="row">
    <!--搜索区域开始-->
    <div class="col-12 search-collapse">
        <form id="search_form" name="search_form">
            <div class="select-list">
                <ul>
                    <li>
                        <label>所属分类：</label> <select id="search_cid" name="cid">
                            <option value="">
                                所有
                            </option>
                            {volist name="class_list" id="item"}
                                <option value="{$item.id}">
                                {$item.title}
                                </option>
                            {/volist}
                        </select>
                    </li>
                    <li>
                        <label>消费券名称：</label> <input type="text" id="search_coupon_title" name="coupon_title" value="">
                    </li>
                    <li>
                        <label>消费券领取开启时间：</label> <input type="text" id="search_start_time" name="start_time" value="" daterange="true" autocomplete="off">
                    </li>
                    <li>
                        <label>状态：</label> <select id="search_status" name="status">
                            <option value="">
                                所有
                            </option>
                            <option value="1">
                                正常
                            </option>
                            <option value="0">
                                未开启
                            </option>
                            <option value="-1">
                                已失效
                            </option>
                            <option value="2">
                                已领完
                            </option>
                            <option value="3">
                                审核中
                            </option>
                            <option value="4">
                                审核通过
                            </option>
                            <option value="5">
                                审核未通过
                            </option>
                        </select>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input class="hide" type="submit" name="btnSave" value="提交" onclick="$.table.search();return false;">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--搜索区域结束-->

    <div class="col-sm-12 select-table table-striped">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success"  onclick="addCoupon()">
            <i class="fa fa-plus"></i> 新增        </a>
                    <a class="btn btn-warning"  onclick="$.table.export()">
            <i class="fa fa-download"></i> 导出        </a>
        </div>
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
</div>
<script>
    $(function() {
        var options = {
            uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
            url           : "/admin/CouponIssue/index.html?getList=1",      // 请求后台的URL
            addUrl        : "/admin/CouponIssue/add.html",       // 新增的地址
            editUrl       : "/admin/CouponIssue/edit.html?id=__id__",      // 修改的地址
            delUrl        : "/admin/CouponIssue/del.html",       // 删除的地址
            exportUrl     : "/admin/CouponIssue/export.html",    // 导出的地址
            sortUrl       : "/admin/CouponIssue/sort.html",      // 排序的地址
            sortName      : "sort",         // 排序列名称
            sortOrder     : "desc",         // 排序方式  asc 或者 desc
			pagination    : true,			// 是否进行分页
            parentIdField : "pid",   // 列表树模式需传递父id字段名（parent_id/pid）
			clickToSelect : true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
            pageSize      : "10",         // 每页显示的行数
            layerOpen     : "1",        // 添加/编辑等页启用layer弹层加载
            emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
            fixedColumns  : true,                   // 是否启用固定列功能
            fixedLeft     : 0,          // 左侧固定列数
            fixedRight    : 1,         // 右侧固定列数
            columns: [
                {
                    //field: 'state',
                    checkbox: true,
					// 当某行包含checkbox_disabled时禁止选择
					formatter: function(value, row, index) {
						if(row.checkbox_disabled =='1'){
							 return {
								 disabled : true
							}
						 }
					}
                },
                {
                    field: 'id',
                    title: '编号',
                    sortable: true,
                },
                {
                    field: 'uuno',
                    title: 'UUNO',
                    sortable: true,
                },
                {
                    field: 'cid',
                    title: '所属分类',
                    sortable: true,
                    formatter: function(value, row, index) {
						return row.cid;
					}

                },
                {
                    field: 'coupon_title',
                    title: '消费券名称',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'coupon_title',
                    title: '地图分布',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return '<a class="btn btn-primary btn-xs" onclick="seemap(\'' + row.id + '\')">领取位置分布</a>';
                    }
                },
                {
                    field: 'total_count',
                    title: '总共投放',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'remain_count',
                    title: '剩余数量',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'rollback_num',
                    title: '父级库存回滚量',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'rollback_num_extend',
                    title: '散客券过期回滚量',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    sortable: false,
                    formatter: function (value, row, index) {
                        switch (Number(value)) {
                            case -1:
                                return '<span class="badge badge-primary">已失效</span>';
                                break;
                            case 0:
                                return '<span class="badge badge-success">未开启</span>';
                                break;
                            case 1:
                                return '<span class="badge badge-danger">正常</span>';
                                break;
                            case 2:
                                return '<span class="badge badge-primary">已领完</span>';
                                break;
                            case 3:
                                return '<span class="badge badge-primary">审核中</span>';
                                break;
                            case 4:
                                return '<span class="badge badge-success">审核通过</span>';
                                break;
                            case 5:
                                return '<span class="badge badge-secondary">审核未通过</span>';
                                break;
                            default:
                                // code...
                                break;
                        }
                    }
                },
                {
                    field: 'sort',
                    title: '排序',
                    sortable: true,
                    formatter: function(value, row, index) {
						return '<input class="form-control input-sm w_40 changeSort" type="text" value="' + value + '" data-id="' + row.id + '" onblur="$.table.sort(this)">';
					}
                },
                {
                    field: 'pid',
                    title: '父级ID',
                    sortable: false,
                    formatter: function(value, row, index) {
                        return value;
                    }
                },
                {
                    field: 'right_button',
                    title: '操作',
                    sortable: false,
                    class : 'text-nowrap',
					formatter: function(value, row, index) {
						var actions = [];
                        if(row.status==1){
                            actions.push('<a class="btn btn-primary btn-xs" onclick="state(\'' + row.id + '\',\'/admin/CouponIssue/state.html\',\'停止后无法继续操作，操作请慎重!\')"><i class="fa fa-edit"></i> 停止发行</a> ');
                        }
                        actions.push('<a class="btn btn-success btn-xs" onclick="see(\'' + row.id + '\')"><i class="fa fa-edit"></i> 查看</a> ');
                        // 2023-03-16 文旅监管不允许看到一下操作功能
                        if({:session('admin.group_id')}!=3){
                            switch (row.status) {
                                case 0:
                                    actions.push('<a class="btn btn-danger btn-xs" onclick="state(\'' + row.id + '\',\'/admin/CouponIssue/state.html\',\'确认提交审核吗？\')"><i class="fa fa-edit"></i> 提交审核</a> ');
                                    actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i> 编辑</a> ');

                                    actions.push('<a class="btn btn-danger btn-xs confirm" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="far fa-trash-alt"></i> 删除</a> ');
                                    break;
                                case 4:
                                    actions.push('<a class="btn btn-success btn-xs" onclick="state(\'' + row.id + '\',\'/admin/CouponIssue/state.html\',\'发行后无法修改,确定要发行吗？\')"><i class="fa fa-edit"></i> 确认发行</a> ');
                                    break;
                                case 5:
                                    actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                                default:
                                    /*actions.push('<a class="btn btn-secondary btn-xs" href="javascript:;"><i class="fa fa-dharmachakra"></i> 已停止</a> ');*/
                                    break;
                            }

                            actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="next(\'' + row.id + '\')"><i class="fa fa-edit"></i> 下一批</a> ');
                        }

                        // 2023-03-22 运营建完券之后需要文旅监管审核
                        if({:session('admin.group_id')}==3 && row.status == 3){
                            var chakUrl = "/admin/CouponIssue/check_coupon.html?id="+row.id;
                            actions.push('<a class="btn btn-primary btn-xs" target=""  onclick="sees(\'' + chakUrl + '\')"><i class="fa fa-edit"></i> 审核</a> ');
                        }

                        return actions.join('');
					}
                },
            ]
        };
        $.table.init(options);
    });

    // 搜索
    function searchPre() {
        var data = {};
        $.table.search('', data);
    }

    function state(id,url,msg) {
        // 修改状态
        $.modal.confirm(msg, function () {
            var data = {"id": id};
            $.operate.submit(url, "post", "json", data);
        });
    }
    // 重置搜索
    function resetPre() {
        $.form.reset();
    }
	//HTML反转义
	function HTMLDecode(text) {
		var temp = document.createElement("div");
		temp.innerHTML = text;
		var output = temp.innerText || temp.textContent;
		temp = null;
		return output;
	}

    // 添加商户
    function addCoupon(id) {
        var url = $.operate.addUrl(id)
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            // 弹窗打开要添加的地址
            $.modal.open("添加", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }

    // 下一批
    function next(id) {
        var url = '/admin/CouponIssue/next.html?id='+id;
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            // 弹窗打开要添加的地址
            $.modal.open("下一批", url,800,650);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }

    // 查看
    function isMobile() {
        let flag = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        return flag;
    };
    function seemap(id){

        var  url = '/admin/Issue/coupon_pread.html?issue_coupon_id='+id;
        let area  =  [];
        if (isMobile()) {
            area  =  [100 + '%', 100 + '%']
        } else {
            area  =  [800 + 'px', 700 + 'px']
        };
        if (url.indexOf('?') != -1) {
            url = url + '&_layer=1'
        } else {
            url = url + '?_layer=1'
        }
        var index = layer.open({
            type: 2,
            maxmin: true,
            shade: 0.3,
            title: '查看',
            fix: false,
            area: area,
            content: url,
            cancel: function () {
                return true;
            }
        });

    }
    function see(id) {
        var  url = '/admin/CouponIssue/see.html?id='+id;
        let area  =  [];
        if (isMobile()) {
            area  =  [100 + '%', 100 + '%']
        } else {
            area  =  [800 + 'px', 700 + 'px']
        }

        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            var index = layer.open({
                type: 2,
                maxmin: true,
                shade: 0.3,
                title: '查看',
                fix: false,
                area: area,
                content: url,
                cancel: function () {
                    return true;
                }
            });



            // 弹窗打开要添加的地址
            // $.modal.open("查看", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }
    // 审核
    function sees(url) {
        let area  =  [];
        if (isMobile()) {
            area  =  [100 + '%', 100 + '%']
        } else {
            area  =  [800 + 'px', 700 + 'px']
        }
        if ($.table._option.layerOpen == "1") {
            // 通过参数隐藏左侧和顶部等数据
            if (url.indexOf('?') != -1) {
                url = url + '&_layer=1'
            } else {
                url = url + '?_layer=1'
            }
            var index = layer.open({
                type: 2,
                maxmin: true,
                shade: 0.3,
                title: '审核',
                fix: false,
                area,
                content: url,
                cancel: function () {
                    return true;
                }
            });



            // 弹窗打开要添加的地址
            // $.modal.open("查看", url);
        } else {
            // 当前窗口打开要添加的地址
            $.common.jump(url);
        }
    }

</script>

<!--bootstrap table end-->

<!--底部提示-->
</section>