<!--内容开始-->
<section class="content">
<!--顶部提示开始-->
<!--顶部提示结束-->
<div class="container-fluid">
<div class="row">
    <!--搜索区域开始-->
    <div class="col-12 search-collapse">
        <form id="search_form" name="search_form">
            <div class="select-list">
                <ul>
                    <li>
                        <label>游客名称：</label> 
                        <input type="text" id="search_name" name="name" value="" placeholder="请输入游客名称">
                    </li>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">&nbsp;搜索</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()">&nbsp;重置</a> <input class="hide" type="submit" name="btnSave" value="提交" onclick="$.table.search();return false;">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--搜索区域结束-->

    <div class="col-sm-12 select-table table-striped">
        <!-- <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-warning"  onclick="$.table.export()">
            <i class="fa fa-download"></i> 导出        </a>
        </div> -->
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
</div>
<script>
    $(function() {
        var options = {
            uniqueId      : "id",         // 表格主键名称，（默认为id，如表主键不为id必须设置主键）
            url           : "/seller/summary/tourist.html?getList=1",      // 请求后台的URL
            exportUrl     : "/seller/summary/export.html",    // 导出的地址
            sortUrl       : "/seller/summary/sort.html",      // 排序的地址
            sortName      : "id",         // 排序列名称
            sortOrder     : "desc",                 // 排序方式  asc 或者 desc
			pagination    : true,			// 是否进行分页
            parentIdField : "",   // 列表树模式需传递父id字段名（parent_id/pid）
			clickToSelect : true,				    // 默认false不响应，设为true则当点击此行的某处时，会自动选中此行的checkbox/radiobox
            pageSize      : "10",         // 每页显示的行数
            layerOpen     : "1",        // 添加/编辑等页启用layer弹层加载
            emptyTips     : "没有找到匹配的记录",        // 空数据提示信息
            fixedColumns  : true,                   // 是否启用固定列功能
            fixedLeft     : 0,          // 左侧固定列数
            fixedRight    : 1,         // 右侧固定列数
            columns: [
                {
                    //field: 'state',
                    checkbox: true,
					// 当某行包含checkbox_disabled时禁止选择
					formatter: function(value, row, index) {
						if(row.checkbox_disabled =='1'){
							 return {
								 disabled : true
							}
						 }
					}
                },
                {
                    field: 'id',
                    title: '编号',
                    sortable: true,
                },
                {
                    field: 'tourist_fullname',  
                    title: '游客名称', 
                    sortable: false,                                                           
                },
                {
                    field: 'tourist_mobile',  
                    title: '游客手机号', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'tourist_cert_id',  
                    title: '游客证件号', 
                    sortable: false,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'name',
                    title: '售票员', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'umobile',
                    title: '售票员手机号', 
                    sortable: true,
                    formatter: function(value, row, index) {
                        return HTMLDecode(value);
                    }
                },
                {
                    field: 'right_button',  
                    title: '操作', 
                    sortable: false,     
                    class : 'text-nowrap',
					formatter: function(value, row, index) {
						var actions = [];
						var url = '/seller/summary/see.html?id='+row.id;
						// 匹配ID和email，可能为任何的其他参数，但都是 __字段__ 格式
						actions.push('<a class="btn btn-primary btn-xs confirm" target="" href="'+url+'"><i class="fa fa-search"></i> 查看</a> ');
                        return actions.join('');
					}
                }
            ]
        };
        $.table.init(options);
    });

    // 搜索
    function searchPre() {
        var data = {};
        $.table.search('', data);
    }

    // 重置搜索
    function resetPre() {
        $.form.reset();
    }
	//HTML反转义
	function HTMLDecode(text) {
		var temp = document.createElement("div");
		temp.innerHTML = text;
		var output = temp.innerText || temp.textContent;
		temp = null;
		return output;
	}
</script>

<!--bootstrap table end-->

<!--底部提示-->
</section>
