
<div class="container-fluid">
    <div class="row">
        <!--顶部提示开始-->
        <!--顶部提示结束-->
        <!--数据表开始-->
        <form name="form-builder" class="col-12 form_builder" method="post" action="/travel/Writeoff/editPost.html" id="form-builder">
            <!---->
            <input class="form-control" type="hidden" id="id" name="id" value="{$userinfo.id}">
            <!---->
            <div class="row dd_input_group no-gutters" id="form_group_name">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="name">姓名</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="name" name="name" value="{$userinfo.name}" placeholder="请输入姓名">
                </div>
            </div>
             <div class="row dd_input_group no-gutters " id="form_group_image">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label " for="image">头像</label>
                <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="image" name="image" value="{$userinfo.image}" placeholder="请点击按钮上传或手动输入地址" >
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-7 dd_ts dd_ts_img">
                    <!--上传图片-->
                    <!--用来存放item-->
                    <div id="fileList_image" class="uploader-list"></div>
                    <div id="filePicker_image"><i class="fa fa-upload m-r-10"></i>选择图片</div>
                    <a href="/static/admin/images/nopic.png" target="_blank">
                        <img class="image_preview_info"
                             src="/static/admin/images/nopic.png"
                             id="image_preview">
                    </a>
                    <!--上传图片-->
                        </div>
            </div>
            <script type="text/javascript">
                webupload('fileList_image', 'filePicker_image', 'image_preview', 'image', false, 'jpg,png,gif,jpeg,ico', '0');
            </script>
            <div class="row dd_input_group no-gutters" id="form_group_mobile">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="mobile">电话</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="mobile" name="mobile" value="{$userinfo.mobile}" placeholder="请输入电话">
                </div>
            </div>
            <div class="row dd_input_group no-gutters" id="form_group_openid">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label" for="openid">openid</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="text" id="openid" name="openid" value="{$userinfo.openid}" {if $userinfo.openid !=''}disabled{/if}>
                </div>
            </div>
            <div class="row dd_input_group no-gutters" id="form_group_status">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label is-required" for="status">状态</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4 dd_radio_lable_left border-white">
                    <div class="icheck-peterriver icheck-inline">
                        <input type="radio" name="status" class="dd_radio" id="status1" value="1" {if $userinfo.status == 1}checked{/if}> <label for="status1">启用</label>
                    </div>
                    <div class="icheck-peterriver icheck-inline">
                        <input type="radio" name="status" class="dd_radio" id="status2" value="0"  {if $userinfo.status == 0}checked{/if}> <label for="status2">停用</label>
                    </div>
                </div>
            </div>
            <div class="row dd_input_group no-gutters" id="form_group_sort">
                <label class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 dd_input_l col-form-label" for="sort">排序</label>
                <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-4">
                    <input class="form-control" type="number" id="sort" name="sort" value="50" step="1">
                </div>
            </div><!---->
            <div class="row dd_input_group form-builder-submit no-gutters">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-1">
                    <button type="submit" class="btn btn-flat btn-primary hide">提 交</button> <button type="button" class="btn btn-flat btn-default hide" onclick="javascript :history.back(-1)">返 回</button>
                </div>
            </div><!-- /.box -->
        </form><!--底部提示-->
    </div>
</div>